.toast {
  position: fixed;
  top: 25px;
  right: 25px;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  border-left: 6px solid #4070f4;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  z-index: 10000;
  border-radius: 10px;
  color: var(--text-color);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: block !important;
}
.toast.active {
  transform: translateX(0%);
}
.toast .toast-content {
  display: flex;
  align-items: center;
}
.toast .toast-content i {
  font-size: 35px;
  transition: opacity 300ms;
}
.toast .toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.toast .message .text {
  font-size: 20px;
  font-weight: 400;
  width: max-content;
}
.toast .message .text.text-1 {
  font-weight: 600;
}
.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}
.toast .close:hover {
  opacity: 1;
}
.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}
.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}
.toast .progress-success:before {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-success-rgb),
    var(--bs-bg-opacity)
  ) !important;
}
.toast .progress-warning:before {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-warning-rgb),
    var(--bs-bg-opacity)
  ) !important;
}
.toast .progress-danger:before {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}
.toast .progress.active:before {
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    right: 100%;
  }
}
