::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-track {
  background: 0 0;
  width: 0;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;
}
@media screen and (max-width: 800px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
.frame {
  width: 90%;
  height: 92vh;
}
@media screen and (max-width: 360px) {
  .frame {
    width: 100%;
    height: 100vh;
  }
}
.frame .sidepanel {
  float: left;
  min-width: 280px;
  max-width: 340px;
  width: 40%;
  height: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 10px 0 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 800px) {
  .frame .sidepanel {
    width: 58px;
    min-width: 58px;
  }
}
.frame .sidepanel .profile {
  padding: 9px;
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .profile {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}
.online {
  border: 2px solid #2ecc71 !important;
}
.away {
  border: 2px solid #f1c40f !important;
}
.busy {
  border: 2px solid #e74c3c !important;
}
.offline {
  border: 2px solid #95a5a6 !important;
}
.frame .twops {
  display: flex;
  flex-direction: column;
}
.frame .twops p {
  font-weight: 600;
}
.frame .twops p:last-child {
  font-weight: 400;
  white-space: nowrap;
  font-size: 11px;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: 0.5;
}
.frame .sidepanel .profile .wrap i {
  cursor: pointer;
  font-size: 19px;
  margin-left: 14px;
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .profile .wrap i {
    display: none;
  }
}
.frame .sidepanel .profile .wrap .status-options {
  width: 112px;
  line-height: initial;
  position: absolute;
  top: 26px;
  left: -46px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  z-index: 2;
  transform-origin: top;
  background: var(--tkd3);
  border-radius: 6px;
  color: var(--tkd2);
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  padding: 5px;
  z-index: 1000;
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .profile .wrap .status-options {
    width: 58px;
    margin-top: 57px;
  }
}
.frame .sidepanel .profile .wrap .status-options.active {
  top: 60px;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  left: 16px;
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .profile .wrap .status-options.active {
    margin-top: 62px;
  }
}
.frame .sidepanel .profile .wrap .status-options:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid var(--tkd3);
  margin: -13px 0 0 2px;
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .profile .wrap .status-options:before {
    margin-left: 23px;
  }
}
.frame .sidepanel .profile .wrap .status-options ul {
  overflow: hidden;
  border-radius: 6px;
}
.frame .sidepanel .profile .wrap .status-options ul li {
  padding: 4px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 3px;
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .profile .wrap .status-options ul li {
    padding: 15px 0 35px 22px;
  }
}
.frame .sidepanel .profile .wrap .status-options ul li:hover {
  background: var(--tkd2);
  color: var(--tkd3);
}
.frame .sidepanel .profile .wrap .status-options ul li span.status-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .profile .wrap .status-options ul li span.status-circle {
    width: 14px;
    height: 14px;
  }
}
.frame
  .sidepanel
  .profile
  .wrap
  .status-options
  ul
  li
  span.status-circle:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  margin: -2px 0 0 -2px;
  background: 0 0;
  border-radius: 50%;
  z-index: 0;
}
@media screen and (max-width: 800px) {
  .frame
    .sidepanel
    .profile
    .wrap
    .status-options
    ul
    li
    span.status-circle:before {
    height: 18px;
    width: 18px;
  }
}
.frame .sidepanel .profile .wrap .status-options ul li p {
  margin: 0;
  margin-left: 10px;
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .profile .wrap .status-options ul li p {
    display: none;
  }
}
.frame
  .sidepanel
  .profile
  .wrap
  .status-options
  ul
  li.status-online
  span.status-circle {
  background: #2ecc71;
}
.frame
  .sidepanel
  .profile
  .wrap
  .status-options
  ul
  li.status-online.active
  span.status-circle:before {
  border: 1px solid #2ecc71;
}
.frame
  .sidepanel
  .profile
  .wrap
  .status-options
  ul
  li.status-away
  span.status-circle {
  background: #f1c40f;
}
.frame
  .sidepanel
  .profile
  .wrap
  .status-options
  ul
  li.status-away.active
  span.status-circle:before {
  border: 1px solid #f1c40f;
}
.frame
  .sidepanel
  .profile
  .wrap
  .status-options
  ul
  li.status-busy
  span.status-circle {
  background: #e74c3c;
}
.frame
  .sidepanel
  .profile
  .wrap
  .status-options
  ul
  li.status-busy.active
  span.status-circle:before {
  border: 1px solid #e74c3c;
}
.frame
  .sidepanel
  .profile
  .wrap
  .status-options
  ul
  li.status-offline
  span.status-circle {
  background: #95a5a6;
}
.frame
  .sidepanel
  .profile
  .wrap
  .status-options
  ul
  li.status-offline.active
  span.status-circle:before {
  border: 1px solid #95a5a6;
}
.frame .sidepanel .search {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .search {
    display: none;
  }
}
.frame .sidepanel .search label {
  position: absolute;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame .sidepanel .search input {
  padding: 10px 0 10px 46px;
  width: 100%;
  border: none;
  background: rgba(255, 255, 255, 0.1);
}
.frame .sidepanel .search input:focus {
  outline: 0;
}
.frame input::-webkit-input-placeholder {
  color: var(--text-color);
}
.frame input::-moz-placeholder {
  color: var(--text-color);
}
.frame input:-ms-input-placeholder {
  color: var(--text-color);
}
.frame input:-moz-placeholder {
  color: var(--text-color);
}
.frame .sidepanel .bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 10px;
  overflow: hidden;
}
.frame .sidepanel .bottom-bar button {
  float: left;
  border: none;
  width: 50%;
  padding: 10px 0;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .bottom-bar button {
    float: none;
    width: 100%;
    padding: 15px 0;
  }
}
.frame .sidepanel .bottom-bar button:focus {
  outline: 0;
}
.frame .sidepanel .bottom-bar button:nth-child(1) {
  border-right: 1px solid #2c3e50;
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .bottom-bar button:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #2c3e50;
  }
}
.frame .sidepanel .bottom-bar button:hover {
  background: var(--background-color);
}
.frame .sidepanel .bottom-bar button i {
  margin-right: 3px;
  font-size: 19px;
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .bottom-bar button i {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .bottom-bar button span {
    display: none;
  }
}
.frame .content {
  float: right;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 0 10px 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 800px) {
  .frame .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
}
@media screen and (min-width: 900px) {
  .frame .content {
    width: calc(100% - 340px);
  }
}
.frame .content .contact-profile {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}
.frame .content .contact-profile img {
  width: 40px;
  height: 40px;
}
.frame .content .contact-profile .social-media {
}
.frame .content .contact-profile .social-media a,
.frame .content .contact-profile .social-media span {
  cursor: pointer;
  font-size: 19px;
  margin-right: 14px;
  height: 60px;
  display: flex;
  align-items: center;
}
.frame .content .contact-profile .social-media a:hover,
.frame .content .contact-profile .social-media span:hover {
  color: #435f7a;
}
.frame .content .messages,
.frame .sidepanel .settings .settingsbody,
.frame .sidepanel .starmess .starmessbody {
  height: 557px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: url("../img/download.svg");
}
.frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  font-size: 0.9em;
}
.frame .content .messages ul li:nth-last-child(1) {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.frame .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}
.frame .content .messages ul li.sent p {
  background: #435f7a;
  color: #f5f5f5;
}
.frame .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
.frame .content .messages ul li.replies p {
  background: #f5f5f5;
  float: right;
}
.frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
.frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  .frame .content .messages ul li p {
    max-width: 300px;
  }
}
.frame .content .message-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.frame .content .message-input .wrap {
  position: relative;
}
.frame .content .message-input .wrap input {
  width: 100%;
  padding: 0 9px;
  height: 100%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
@media screen and (max-width: 800px) {
  .frame .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
  }
}
.frame .content .message-input .wrap input:focus {
  outline: 0;
}
.frame .content .message-input .wrap i {
  cursor: pointer;
  font-size: 24px;
  margin-left: 14px;
}
.frame .content .message-input .wrap i:hover {
  opacity: 1;
}
.frame .content .message-input .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 8px 0;
  cursor: pointer;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 800px) {
  .frame .content .message-input .wrap button {
    padding: 16px 0;
  }
}
.frame .content .message-input .wrap button:hover {
  background: #435f7a;
}
.frame .content .message-input .wrap button:focus {
  outline: 0;
}
.msg {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}
.msg .bubble {
  float: left;
  max-width: 75%;
  width: auto;
  height: auto;
  display: block;
  background: #ebebeb;
  border-radius: 5px;
  position: relative;
  margin: 10px 0 3px 10px;
  box-shadow: 0 2px 1px rgb(0 0 0 / 20%);
  padding: 8px 0 8px 0;
}
.msg.replies .bubble {
  margin: 10px 10px 3px 0;
  background: #dcf8c6;
  float: right;
}
.msg .bubble .txt {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.msg .bubble .txt .name {
  font-weight: 600;
  font-size: 14px;
  display: inline-table;
  padding: 0 0 0 15px;
  margin: 0 0 4px 0;
  color: #3498db;
}
.msg .bubble .txt .name span {
  font-weight: normal;
  color: #b3b3b3;
  overflow: hidden;
}
.msg.replies .bubble .txt .name {
  color: #2ecc51;
}
.msg .bubble .message {
  font-size: 14px;
  font-weight: 500;
  padding: 0 15px 0 15px;
  margin: auto;
  color: #2b2b2b;
  display: table;
}
.msg .bubble .txt .timestamp {
  font-size: 11px;
  text-transform: uppercase;
  color: #999;
}
.msg .bubble i.msgdown {
  color: var(--tkd2);
  font-size: 16px;
  display: none;
}
.msg:hover .bubble i.msgdown {
  display: block;
}
.msg .bubble .bubble-arrow {
  position: absolute;
  float: left;
  left: -11px;
  top: 0;
}
.msg.replies .bubble .bubble-arrow {
  bottom: 20px;
  left: auto;
  right: 4px;
  float: right;
}
.msg .bubble .bubble-arrow:after {
  content: "";
  position: absolute;
  border-top: 15px solid #ebebeb;
  border-left: 15px solid transparent;
  border-radius: 4px 0 0 0;
  width: 0;
  height: 0;
}
.msg.replies .bubble .bubble-arrow:after {
  border-top: 15px solid #dcf8c6;
  transform: scaleX(-1);
}
.frame .content .message-input .wrap .attachmentr {
  position: absolute;
  left: -3px;
  height: 45px;
}
.frame .content .message-input .wrap .attachmentl {
  position: absolute;
  right: 7px;
  height: 46px;
}
.frame .content .message-input .wrap .attachmenti {
  float: left;
  width: 100%;
  padding: 4px 81px;
  height: 44px;
}
.frame .sidepanel .profile .wrap .status-options-menu {
  top: 31px;
  left: 208px;
  transform-origin: top right;
}
.frame .sidepanel .profile .wrap .status-options-menu.active {
  top: 55px;
  left: 117px;
  width: 217px;
}
.frame .sidepanel .profile .wrap .status-options-menu::before {
  margin: -13px 0 0 190px;
}
.frame .sidepanel .profile .wrap .status-options ul li i {
  margin: 0;
}
.frame .sidepanel .starmess {
  animation: slide 0.5s forwards;
}
@keyframes slide {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: -1%;
    opacity: 1;
  }
}
.frame .sidepanel .settings .settingshead,
.frame .sidepanel .starmess .starmesshead {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  font-size: 20px;
}
.frame .sidepanel .settings .settingsbody,
.frame .sidepanel .starmess .starmessbody {
  height: 515px;
}
.frame .sidepanel .settings .settingshead i,
.frame .sidepanel .starmess .starmesshead i {
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.frame .sidepanel .settings .settingshead span,
.frame .sidepanel .starmess .starmesshead span {
}
.msg .bubble .txt i.msgstar {
  font-size: 13px;
  color: var(--tkd1);
}
.frame .sidepanel .settings .settingsbody {
}
.Profile_detail_icon_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(var(--tkd2) 0 0 5.5px);
  margin-right: 11px;
  display: flex;
}
.Profile_detail_icon_img div {
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.Profile_detail_icon_img div img {
  width: 37px;
  height: 42px;
  transform: scale(1.1);
}
@media screen and (max-width: 800px) {
  .Profile_detail_icon_img div img {
    margin-left: 4px;
  }
}
.frame .sidepanel .contacts {
  height: calc(100% - 150px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .contacts {
    height: calc(100% - 168px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
.frame .sidepanel .contacts ul li.contact {
  position: relative;
  padding: 10px 0;
  font-size: 0.9em;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .contacts ul li.contact {
    padding: 6px 0 46px 8px;
  }
}
.frame .sidepanel .contacts ul li.contact:hover {
  background: var(--background-hover-color);
}
.frame .sidepanel .contacts ul li.contact.active {
  background: var(--background-color);
}
.frame .sidepanel .contacts ul li.contact.active::before {
  content: "";
  height: 100%;
  width: 5px;
  background: var(--tkd1);
  position: absolute;
  top: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.frame .sidepanel .contacts ul li.contact .wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .contacts ul li.contact .wrap {
    width: 100%;
  }
}
.frame .sidepanel .contacts ul li.contact .wrap span {
  position: absolute;
  left: 0;
  top: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #95a5a6;
  filter: drop-shadow(var(--tkd2) 0 0 5.5px);
  z-index: 2;
}
.frame .sidepanel .contacts ul li.contact .wrap span.online {
  background: #2ecc71;
}
.frame .sidepanel .contacts ul li.contact .wrap span.away {
  background: #f1c40f;
}
.frame .sidepanel .contacts ul li.contact .wrap span.busy {
  background: #e74c3c;
}
.frame .sidepanel .contacts ul li.contact .wrap img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .contacts ul li.contact .wrap img {
    margin-right: 0;
  }
}
.frame .sidepanel .contacts ul li.contact .wrap .meta {
}
@media screen and (max-width: 800px) {
  .frame .sidepanel .contacts ul li.contact .wrap .meta {
    display: none;
  }
}
.frame .sidepanel .contacts ul li.contact:hover .wrap img {
  filter: drop-shadow(0 0 16px var(--text-color));
}
.frame .sidepanel .contacts ul li.contact.active .wrap img {
  filter: drop-shadow(0 0 16px var(--text-color));
}
.frame .sidepanel .contacts ul li.contact .wrap i.adduser {
  position: absolute;
  right: 0;
  font-size: 25px;
}
.frame .addcontacticon {
  position: absolute;
  right: 0;
  font-size: 23px;
}
