@font-face{font-family:"brooksfonts";src:url("https://thekoushikdurgas.github.io/TKDstroage/fonts/brooksfonts.eot?fak1xa");src:url("https://thekoushikdurgas.github.io/TKDstroage/fonts/brooksfonts.eot?fak1xa#iefix") format("embedded-opentype"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/brooksfonts.ttf?fak1xa") format("truetype"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/brooksfonts.woff?fak1xa") format("woff"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/brooksfonts.svg?fak1xa#brooksfonts") format("svg");font-weight:normal;font-style:normal;}
[class^="brsicon-"],[class*=" brsicon-"]{font-family:"brooksfonts";speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.brsicon-alert:before{content:"\e900";}
.brsicon-alert2:before{content:"\e901";}
.brsicon-avatar:before{content:"\e902";}
.brsicon-barchart:before{content:"\e903";}
.brsicon-battery:before{content:"\e904";}
.brsicon-battery2:before{content:"\e905";}
.brsicon-battery3:before{content:"\e906";}
.brsicon-battery4:before{content:"\e907";}
.brsicon-beer:before{content:"\e908";}
.brsicon-book:before{content:"\e909";}
.brsicon-box:before{content:"\e90a";}
.brsicon-brochure:before{content:"\e90b";}
.brsicon-bubble:before{content:"\e90c";}
.brsicon-bubble2:before{content:"\e90d";}
.brsicon-burger:before{content:"\e90e";}
.brsicon-calculator:before{content:"\e90f";}
.brsicon-calendar:before{content:"\e910";}
.brsicon-camera:before{content:"\e911";}
.brsicon-car:before{content:"\e912";}
.brsicon-clock:before{content:"\e913";}
.brsicon-cloud:before{content:"\e914";}
.brsicon-cloud2:before{content:"\e915";}
.brsicon-cloud3:before{content:"\e916";}
.brsicon-coffee:before{content:"\e917";}
.brsicon-compass:before{content:"\e918";}
.brsicon-computer:before{content:"\e919";}
.brsicon-computer2:before{content:"\e91a";}
.brsicon-creditcard:before{content:"\e91b";}
.brsicon-creditcard2:before{content:"\e91c";}
.brsicon-desk:before{content:"\e91d";}
.brsicon-drink:before{content:"\e91e";}
.brsicon-falcon:before{content:"\e91f";}
.brsicon-floppydisk:before{content:"\e920";}
.brsicon-folders:before{content:"\e921";}
.brsicon-folders2:before{content:"\e922";}
.brsicon-glasses:before{content:"\e923";}
.brsicon-glossary:before{content:"\e924";}
.brsicon-headphones:before{content:"\e925";}
.brsicon-headset:before{content:"\e926";}
.brsicon-hourglass:before{content:"\e927";}
.brsicon-insights:before{content:"\e928";}
.brsicon-insightschart:before{content:"\e929";}
.brsicon-key:before{content:"\e92a";}
.brsicon-lamp:before{content:"\e92b";}
.brsicon-layers:before{content:"\e92c";}
.brsicon-link:before{content:"\e92d";}
.brsicon-lock:before{content:"\e92e";}
.brsicon-lock2:before{content:"\e92f";}
.brsicon-mail:before{content:"\e930";}
.brsicon-mail2:before{content:"\e931";}
.brsicon-map:before{content:"\e932";}
.brsicon-microphone:before{content:"\e933";}
.brsicon-money:before{content:"\e934";}
.brsicon-mouse:before{content:"\e935";}
.brsicon-network:before{content:"\e936";}
.brsicon-notebook:before{content:"\e937";}
.brsicon-notepad:before{content:"\e938";}
.brsicon-paperclip:before{content:"\e939";}
.brsicon-paperclip2:before{content:"\e93a";}
.brsicon-paperplane:before{content:"\e93b";}
.brsicon-pencil:before{content:"\e93c";}
.brsicon-pentool:before{content:"\e93d";}
.brsicon-phone:before{content:"\e93e";}
.brsicon-phone2:before{content:"\e93f";}
.brsicon-pindrop:before{content:"\e940";}
.brsicon-pointer:before{content:"\e941";}
.brsicon-pointer2:before{content:"\e942";}
.brsicon-power:before{content:"\e943";}
.brsicon-present:before{content:"\e944";}
.brsicon-presentation:before{content:"\e945";}
.brsicon-presentation2:before{content:"\e946";}
.brsicon-pricetag:before{content:"\e947";}
.brsicon-pricetag2:before{content:"\e948";}
.brsicon-ribbon:before{content:"\e949";}
.brsicon-rssfeed:before{content:"\e94a";}
.brsicon-ruler:before{content:"\e94b";}
.brsicon-ruler2:before{content:"\e94c";}
.brsicon-search:before{content:"\e94d";}
.brsicon-server:before{content:"\e94e";}
.brsicon-settings:before{content:"\e94f";}
.brsicon-shoppingcart:before{content:"\e950";}
.brsicon-speaker:before{content:"\e951";}
.brsicon-speaker2:before{content:"\e952";}
.brsicon-stack:before{content:"\e953";}
.brsicon-stopwatch:before{content:"\e954";}
.brsicon-suitcase:before{content:"\e955";}
.brsicon-tablet:before{content:"\e956";}
.brsicon-tape:before{content:"\e957";}
.brsicon-thumbtack:before{content:"\e958";}
.brsicon-tools:before{content:"\e959";}
.brsicon-trash:before{content:"\e95a";}
.brsicon-trash2:before{content:"\e95b";}
.brsicon-truck:before{content:"\e95c";}
.brsicon-video:before{content:"\e95d";}
.brsicon-watch:before{content:"\e95e";}
.brsicon-world:before{content:"\e95f";}
.brsicon-zoomin:before{content:"\e960";}
.brsicon-zoomout:before{content:"\e961";}