@font-face{font-family:"cartzilla-icons";src:url("https://thekoushikdurgas.github.io/TKDstroage/fonts/cartzilla-iconsf3c8.ttf?z88dg8") format("truetype"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/cartzilla-iconsf3c8.woff?z88dg8") format("woff"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/cartzilla-iconsf3c8.svg?z88dg8#cartzilla-icons") format("svg");font-weight:normal;font-style:normal;font-display:block}
[class^="ci-"],[class*=" ci-"]{display:inline-block;font-family:"cartzilla-icons" !important;speak:never;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1}
.ci-add-circle:before{content:""}
.ci-add-document:before{content:""}
.ci-add-location:before{content:""}
.ci-add:before{content:""}
.ci-announcement:before{content:""}
.ci-arrow-down-circle:before{content:""}
.ci-arrow-down:before{content:""}
.ci-arrow-left-circle:before{content:""}
.ci-arrow-left:before{content:""}
.ci-arrow-right-circle:before{content:""}
.ci-arrow-right:before{content:""}
.ci-arrow-up-circle:before{content:""}
.ci-arrow-up:before{content:""}
.ci-arrows-horizontal:before{content:""}
.ci-arrows-vertical:before{content:""}
.ci-bag:before{content:""}
.ci-basket:before{content:""}
.ci-behance:before{content:""}
.ci-bell:before{content:""}
.ci-bluetooth:before{content:""}
.ci-book:before{content:""}
.ci-bookmark:before{content:""}
.ci-briefcase:before{content:""}
.ci-calculator:before{content:""}
.ci-camera:before{content:""}
.ci-card:before{content:""}
.ci-cart:before{content:""}
.ci-chat:before{content:""}
.ci-check-circle:before{content:""}
.ci-check:before{content:""}
.ci-clip:before{content:""}
.ci-close-circle:before{content:""}
.ci-close:before{content:""}
.ci-cloud-check:before{content:""}
.ci-cloud-download:before{content:""}
.ci-cloud-upload:before{content:""}
.ci-cloud:before{content:""}
.ci-coin:before{content:""}
.ci-coins:before{content:""}
.ci-currency-exchange:before{content:""}
.ci-delete-document:before{content:""}
.ci-delete-folder:before{content:""}
.ci-delete-location:before{content:""}
.ci-diamond:before{content:""}
.ci-document-alt:before{content:""}
.ci-document:before{content:""}
.ci-dollar-circle:before{content:""}
.ci-dollar:before{content:""}
.ci-dribbble:before{content:""}
.ci-earphones:before{content:""}
.ci-edit-alt:before{content:""}
.ci-edit:before{content:""}
.ci-euro-circle:before{content:""}
.ci-euro:before{content:""}
.ci-exit-full-screen:before{content:""}
.ci-eye:before{content:""}
.ci-facebook:before{content:""}
.ci-filter-alt:before{content:""}
.ci-filter:before{content:""}
.ci-flag:before{content:""}
.ci-folder:before{content:""}
.ci-forward:before{content:""}
.ci-full-screen:before{content:""}
.ci-gift:before{content:""}
.ci-globe:before{content:""}
.ci-google:before{content:""}
.ci-hangouts:before{content:""}
.ci-heart-circle:before{content:""}
.ci-heart:before{content:""}
.ci-help:before{content:""}
.ci-home:before{content:""}
.ci-idea:before{content:""}
.ci-image:before{content:""}
.ci-increase:before{content:""}
.ci-instagram:before{content:""}
.ci-joystick:before{content:""}
.ci-key:before{content:""}
.ci-lable:before{content:""}
.ci-laptop:before{content:""}
.ci-lightning:before{content:""}
.ci-link:before{content:""}
.ci-linkedin:before{content:""}
.ci-list:before{content:""}
.ci-loading:before{content:""}
.ci-location:before{content:""}
.ci-locked:before{content:""}
.ci-mail:before{content:""}
.ci-map:before{content:""}
.ci-menu-circle:before{content:""}
.ci-menu:before{content:""}
.ci-message:before{content:""}
.ci-messenger:before{content:""}
.ci-mobile:before{content:""}
.ci-money-bag:before{content:""}
.ci-money-box:before{content:""}
.ci-moon:before{content:""}
.ci-music:before{content:""}
.ci-navigation:before{content:""}
.ci-odnoklassniki:before{content:""}
.ci-package:before{content:""}
.ci-percent:before{content:""}
.ci-phone:before{content:""}
.ci-pinterest:before{content:""}
.ci-plane:before{content:""}
.ci-play-circle:before{content:""}
.ci-play:before{content:""}
.ci-reduce:before{content:""}
.ci-reload:before{content:""}
.ci-remove-document:before{content:""}
.ci-remove-folder:before{content:""}
.ci-reply:before{content:""}
.ci-rocket:before{content:""}
.ci-ruler:before{content:""}
.ci-scroll:before{content:""}
.ci-search:before{content:""}
.ci-security-announcement:before{content:""}
.ci-security-check:before{content:""}
.ci-security-close:before{content:""}
.ci-security-prohibition:before{content:""}
.ci-send:before{content:""}
.ci-server-alt:before{content:""}
.ci-server:before{content:""}
.ci-settings:before{content:""}
.ci-share-alt:before{content:""}
.ci-share:before{content:""}
.ci-skype:before{content:""}
.ci-smile:before{content:""}
.ci-star-filled:before{content:""}
.ci-star:before{content:""}
.ci-sun:before{content:""}
.ci-support:before{content:""}
.ci-target:before{content:""}
.ci-telegram:before{content:""}
.ci-thumb-up:before{content:""}
.ci-time:before{content:""}
.ci-trash:before{content:""}
.ci-tumblr:before{content:""}
.ci-turn-off:before{content:""}
.ci-twitter:before{content:""}
.ci-unlocked:before{content:""}
.ci-user-circle:before{content:""}
.ci-user:before{content:""}
.ci-viber:before{content:""}
.ci-video:before{content:""}
.ci-view-grid:before{content:""}
.ci-view-list:before{content:""}
.ci-vimeo:before{content:""}
.ci-vk:before{content:""}
.ci-wallet:before{content:""}
.ci-watch:before{content:""}
.ci-weather:before{content:""}
.ci-wechat:before{content:""}
.ci-youtube-outline:before{content:""}
.ci-youtube:before{content:""}
.ci-caret:before{content:""}
.ci-paypal:before{content:""}
.ci-delivery:before{content:""}
.ci-loudspeaker:before{content:""}
.ci-sign-in:before{content:""}
.ci-sign-out:before{content:""}
.ci-wash:before{content:""}
.ci-bleach:before{content:""}
.ci-hand-wash:before{content:""}
.ci-ironing:before{content:""}
.ci-dry-clean:before{content:""}
.ci-add-user:before{content:""}
.ci-compare:before{content:""}
.ci-monitor:before{content:""}
.ci-printer:before{content:""}
.ci-speaker:before{content:""}
.ci-download:before{content:""}
.ci-upload:before{content:""}
.ci-bluetooth-circle:before{content:""}
.ci-battery:before{content:""}
.ci-sound-waves:before{content:""}
.ci-paprika:before{content:""}
.ci-chili:before{content:""}
.ci-canned-food:before{content:""}
.ci-toothbrush:before{content:""}
.ci-pumpkin:before{content:""}
.ci-orange:before{content:""}
.ci-broccoli:before{content:""}
.ci-sauce:before{content:""}
.ci-soap:before{content:""}
.ci-toilet-paper:before{content:""}
.ci-lemon:before{content:""}
.ci-bread:before{content:""}
.ci-jam:before{content:""}
.ci-fish:before{content:""}
.ci-wine:before{content:""}
.ci-truck:before{content:""}
.ci-tag:before{content:""}
.ci-eggs:before{content:""}
.ci-store:before{content:""}
.ci-ham-leg:before{content:""}
.ci-discount:before{content:""}
.ci-open:before{content:""}
.ci-juice:before{content:""}
.ci-cheese:before{content:""}
.ci-milk:before{content:""}
.ci-cashier:before{content:""}
.ci-avocado:before{content:""}
.ci-apple:before{content:""}
.ci-pizza:before{content:""}
.ci-scale:before{content:""}
.ci-ice-cream:before{content:""}
.ci-water-bottle:before{content:""}
.ci-carrot:before{content:""}
.ci-basket-alt:before{content:""}
.ci-corn:before{content:""}
.ci-frozen:before{content:""}
.ci-lollipop:before{content:""}
.ci-pot:before{content:""}
.ci-star-half:before{content:""}
.ci-eye-off:before{content:""}
.ci-thumb-up-filled:before{content:""}
.ci-dot-square:before{content:""}
.ci-discord:before{content:""}
.ci-tiktok:before{content:""}
.ci-whatsapp:before{content:""}
.ci-rupee:before{content:""}