@font-face{font-family:"eva icons";src:url("https://thekoushikdurgas.github.io/TKDstroage/fonts/eva icons.eot?2zn6qk");src:url("https://thekoushikdurgas.github.io/TKDstroage/fonts/eva icons.eot?2zn6qk#iefix") format("embedded-opentype"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/eva icons.ttf?2zn6qk") format("truetype"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/eva icons.woff?2zn6qk") format("woff"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/eva icons.svg?2zn6qk#icomoon") format("svg");font-weight:normal;font-style:normal;font-display:block;}
[class^="iconeva-"],[class*=" iconeva-"]{font-family:"eva icons"!important;speak:never;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.iconeva-activity:before{content:"\e900";}
.iconeva-activity-outline:before{content:"\e901";}
.iconeva-alert-circle:before{content:"\e902";}
.iconeva-alert-circle-outline:before{content:"\e903";}
.iconeva-alert-triangle:before{content:"\e904";}
.iconeva-alert-triangle-outline:before{content:"\e905";}
.iconeva-archive:before{content:"\e906";}
.iconeva-archive-outline:before{content:"\e907";}
.iconeva-arrow-back:before{content:"\e908";}
.iconeva-arrow-back-outline:before{content:"\e909";}
.iconeva-arrow-circle-down:before{content:"\e90a";}
.iconeva-arrow-circle-down-outline:before{content:"\e90b";}
.iconeva-arrow-circle-left:before{content:"\e90c";}
.iconeva-arrow-circle-left-outline:before{content:"\e90d";}
.iconeva-arrow-circle-right:before{content:"\e90e";}
.iconeva-arrow-circle-right-outline:before{content:"\e90f";}
.iconeva-arrow-circle-up:before{content:"\e910";}
.iconeva-arrow-circle-up-outline:before{content:"\e911";}
.iconeva-arrow-down:before{content:"\e912";}
.iconeva-arrow-down-outline:before{content:"\e913";}
.iconeva-arrow-downward:before{content:"\e914";}
.iconeva-arrow-downward-outline:before{content:"\e915";}
.iconeva-arrow-forward:before{content:"\e916";}
.iconeva-arrow-forward-outline:before{content:"\e917";}
.iconeva-arrowhead-down:before{content:"\e918";}
.iconeva-arrowhead-down-outline:before{content:"\e919";}
.iconeva-arrowhead-left:before{content:"\e91a";}
.iconeva-arrowhead-left-outline:before{content:"\e91b";}
.iconeva-arrowhead-right:before{content:"\e91c";}
.iconeva-arrowhead-right-outline:before{content:"\e91d";}
.iconeva-arrowhead-up:before{content:"\e91e";}
.iconeva-arrowhead-up-outline:before{content:"\e91f";}
.iconeva-arrow-ios-back:before{content:"\e920";}
.iconeva-arrow-ios-back-outline:before{content:"\e921";}
.iconeva-arrow-ios-downward:before{content:"\e922";}
.iconeva-arrow-ios-downward-outline:before{content:"\e923";}
.iconeva-arrow-ios-forward:before{content:"\e924";}
.iconeva-arrow-ios-forward-outline:before{content:"\e925";}
.iconeva-arrow-ios-upward:before{content:"\e926";}
.iconeva-arrow-ios-upward-outline:before{content:"\e927";}
.iconeva-arrow-left:before{content:"\e928";}
.iconeva-arrow-left-outline:before{content:"\e929";}
.iconeva-arrow-right:before{content:"\e92a";}
.iconeva-arrow-right-outline:before{content:"\e92b";}
.iconeva-arrow-up:before{content:"\e92c";}
.iconeva-arrow-up-outline:before{content:"\e92d";}
.iconeva-arrow-upward:before{content:"\e92e";}
.iconeva-arrow-upward-outline:before{content:"\e92f";}
.iconeva-at:before{content:"\e930";}
.iconeva-at-outline:before{content:"\e931";}
.iconeva-attach:before{content:"\e932";}
.iconeva-attach-2:before{content:"\e933";}
.iconeva-attach-2-outline:before{content:"\e934";}
.iconeva-attach-outline:before{content:"\e935";}
.iconeva-award:before{content:"\e936";}
.iconeva-award-outline:before{content:"\e937";}
.iconeva-backspace:before{content:"\e938";}
.iconeva-backspace-outline:before{content:"\e939";}
.iconeva-bar-chart:before{content:"\e93a";}
.iconeva-bar-chart-2:before{content:"\e93b";}
.iconeva-bar-chart-2-outline:before{content:"\e93c";}
.iconeva-bar-chart-outline:before{content:"\e93d";}
.iconeva-battery:before{content:"\e93e";}
.iconeva-battery-outline:before{content:"\e93f";}
.iconeva-behance:before{content:"\e940";}
.iconeva-behance-outline:before{content:"\e941";}
.iconeva-bell:before{content:"\e942";}
.iconeva-bell-off:before{content:"\e943";}
.iconeva-bell-off-outline:before{content:"\e944";}
.iconeva-bell-outline:before{content:"\e945";}
.iconeva-bluetooth:before{content:"\e946";}
.iconeva-bluetooth-outline:before{content:"\e947";}
.iconeva-book:before{content:"\e948";}
.iconeva-bookmark:before{content:"\e949";}
.iconeva-bookmark-outline:before{content:"\e94a";}
.iconeva-book-open:before{content:"\e94b";}
.iconeva-book-open-outline:before{content:"\e94c";}
.iconeva-book-outline:before{content:"\e94d";}
.iconeva-briefcase:before{content:"\e94e";}
.iconeva-briefcase-outline:before{content:"\e94f";}
.iconeva-browser:before{content:"\e950";}
.iconeva-browser-outline:before{content:"\e951";}
.iconeva-brush:before{content:"\e952";}
.iconeva-brush-outline:before{content:"\e953";}
.iconeva-bulb:before{content:"\e954";}
.iconeva-bulb-outline:before{content:"\e955";}
.iconeva-calendar:before{content:"\e956";}
.iconeva-calendar-outline:before{content:"\e957";}
.iconeva-camera:before{content:"\e958";}
.iconeva-camera-outline:before{content:"\e959";}
.iconeva-car:before{content:"\e95a";}
.iconeva-car-outline:before{content:"\e95b";}
.iconeva-cast:before{content:"\e95c";}
.iconeva-cast-outline:before{content:"\e95d";}
.iconeva-charging:before{content:"\e95e";}
.iconeva-charging-outline:before{content:"\e95f";}
.iconeva-checkmark:before{content:"\e960";}
.iconeva-checkmark-circle:before{content:"\e961";}
.iconeva-checkmark-circle-2:before{content:"\e962";}
.iconeva-checkmark-circle-2-outline:before{content:"\e963";}
.iconeva-checkmark-circle-outline:before{content:"\e964";}
.iconeva-checkmark-outline:before{content:"\e965";}
.iconeva-checkmark-square:before{content:"\e966";}
.iconeva-checkmark-square-2:before{content:"\e967";}
.iconeva-checkmark-square-2-outline:before{content:"\e968";}
.iconeva-checkmark-square-outline:before{content:"\e969";}
.iconeva-chevron-down:before{content:"\e96a";}
.iconeva-chevron-down-outline:before{content:"\e96b";}
.iconeva-chevron-left:before{content:"\e96c";}
.iconeva-chevron-left-outline:before{content:"\e96d";}
.iconeva-chevron-right:before{content:"\e96e";}
.iconeva-chevron-right-outline:before{content:"\e96f";}
.iconeva-chevron-up:before{content:"\e970";}
.iconeva-chevron-up-outline:before{content:"\e971";}
.iconeva-clipboard:before{content:"\e972";}
.iconeva-clipboard-outline:before{content:"\e973";}
.iconeva-clock:before{content:"\e974";}
.iconeva-clock-outline:before{content:"\e975";}
.iconeva-close:before{content:"\e976";}
.iconeva-close-circle:before{content:"\e977";}
.iconeva-close-circle-outline:before{content:"\e978";}
.iconeva-close-outline:before{content:"\e979";}
.iconeva-close-square:before{content:"\e97a";}
.iconeva-close-square-outline:before{content:"\e97b";}
.iconeva-cloud-download:before{content:"\e97c";}
.iconeva-cloud-download-outline:before{content:"\e97d";}
.iconeva-cloud-upload:before{content:"\e97e";}
.iconeva-cloud-upload-outline:before{content:"\e97f";}
.iconeva-code:before{content:"\e980";}
.iconeva-code-download:before{content:"\e981";}
.iconeva-code-download-outline:before{content:"\e982";}
.iconeva-code-outline:before{content:"\e983";}
.iconeva-collapse:before{content:"\e984";}
.iconeva-collapse-outline:before{content:"\e985";}
.iconeva-color-palette:before{content:"\e986";}
.iconeva-color-palette-outline:before{content:"\e987";}
.iconeva-color-picker:before{content:"\e988";}
.iconeva-color-picker-outline:before{content:"\e989";}
.iconeva-compass:before{content:"\e98a";}
.iconeva-compass-outline:before{content:"\e98b";}
.iconeva-copy:before{content:"\e98c";}
.iconeva-copy-outline:before{content:"\e98d";}
.iconeva-corner-down-left:before{content:"\e98e";}
.iconeva-corner-down-left-outline:before{content:"\e98f";}
.iconeva-corner-down-right:before{content:"\e990";}
.iconeva-corner-down-right-outline:before{content:"\e991";}
.iconeva-corner-left-down:before{content:"\e992";}
.iconeva-corner-left-down-outline:before{content:"\e993";}
.iconeva-corner-left-up:before{content:"\e994";}
.iconeva-corner-left-up-outline:before{content:"\e995";}
.iconeva-corner-right-down:before{content:"\e996";}
.iconeva-corner-right-down-outline:before{content:"\e997";}
.iconeva-corner-right-up:before{content:"\e998";}
.iconeva-corner-right-up-outline:before{content:"\e999";}
.iconeva-corner-up-left:before{content:"\e99a";}
.iconeva-corner-up-left-outline:before{content:"\e99b";}
.iconeva-corner-up-right:before{content:"\e99c";}
.iconeva-corner-up-right-outline:before{content:"\e99d";}
.iconeva-credit-card:before{content:"\e99e";}
.iconeva-credit-card-outline:before{content:"\e99f";}
.iconeva-crop:before{content:"\e9a0";}
.iconeva-crop-outline:before{content:"\e9a1";}
.iconeva-cube:before{content:"\e9a2";}
.iconeva-cube-outline:before{content:"\e9a3";}
.iconeva-diagonal-arrow-left-down:before{content:"\e9a4";}
.iconeva-diagonal-arrow-left-down-outline:before{content:"\e9a5";}
.iconeva-diagonal-arrow-left-up:before{content:"\e9a6";}
.iconeva-diagonal-arrow-left-up-outline:before{content:"\e9a7";}
.iconeva-diagonal-arrow-right-down:before{content:"\e9a8";}
.iconeva-diagonal-arrow-right-down-outline:before{content:"\e9a9";}
.iconeva-diagonal-arrow-right-up:before{content:"\e9aa";}
.iconeva-diagonal-arrow-right-up-outline:before{content:"\e9ab";}
.iconeva-done-all:before{content:"\e9ac";}
.iconeva-done-all-outline:before{content:"\e9ad";}
.iconeva-download:before{content:"\e9ae";}
.iconeva-download-outline:before{content:"\e9af";}
.iconeva-droplet:before{content:"\e9b0";}
.iconeva-droplet-off:before{content:"\e9b1";}
.iconeva-droplet-off-outline:before{content:"\e9b2";}
.iconeva-droplet-outline:before{content:"\e9b3";}
.iconeva-edit:before{content:"\e9b4";}
.iconeva-edit-2:before{content:"\e9b5";}
.iconeva-edit-2-outline:before{content:"\e9b6";}
.iconeva-edit-outline:before{content:"\e9b7";}
.iconeva-email:before{content:"\e9b8";}
.iconeva-email-outline:before{content:"\e9b9";}
.iconeva-expand:before{content:"\e9ba";}
.iconeva-expand-outline:before{content:"\e9bb";}
.iconeva-external-link:before{content:"\e9bc";}
.iconeva-external-link-outline:before{content:"\e9bd";}
.iconeva-eye:before{content:"\e9be";}
.iconeva-eye-off:before{content:"\e9bf";}
.iconeva-eye-off-2:before{content:"\e9c0";}
.iconeva-eye-off-2-outline:before{content:"\e9c1";}
.iconeva-eye-off-outline:before{content:"\e9c2";}
.iconeva-eye-outline:before{content:"\e9c3";}
.iconeva-facebook:before{content:"\e9c4";}
.iconeva-facebook-outline:before{content:"\e9c5";}
.iconeva-file:before{content:"\e9c6";}
.iconeva-file-add:before{content:"\e9c7";}
.iconeva-file-add-outline:before{content:"\e9c8";}
.iconeva-file-outline:before{content:"\e9c9";}
.iconeva-file-remove:before{content:"\e9ca";}
.iconeva-file-remove-outline:before{content:"\e9cb";}
.iconeva-file-text:before{content:"\e9cc";}
.iconeva-file-text-outline:before{content:"\e9cd";}
.iconeva-film:before{content:"\e9ce";}
.iconeva-film-outline:before{content:"\e9cf";}
.iconeva-flag:before{content:"\e9d0";}
.iconeva-flag-outline:before{content:"\e9d1";}
.iconeva-flash:before{content:"\e9d2";}
.iconeva-flash-off:before{content:"\e9d3";}
.iconeva-flash-off-outline:before{content:"\e9d4";}
.iconeva-flash-outline:before{content:"\e9d5";}
.iconeva-flip:before{content:"\e9d6";}
.iconeva-flip-2:before{content:"\e9d7";}
.iconeva-flip-2-outline:before{content:"\e9d8";}
.iconeva-flip-outline:before{content:"\e9d9";}
.iconeva-folder:before{content:"\e9da";}
.iconeva-folder-add:before{content:"\e9db";}
.iconeva-folder-add-outline:before{content:"\e9dc";}
.iconeva-folder-outline:before{content:"\e9dd";}
.iconeva-folder-remove:before{content:"\e9de";}
.iconeva-folder-remove-outline:before{content:"\e9df";}
.iconeva-funnel:before{content:"\e9e0";}
.iconeva-funnel-outline:before{content:"\e9e1";}
.iconeva-gift:before{content:"\e9e2";}
.iconeva-gift-outline:before{content:"\e9e3";}
.iconeva-github:before{content:"\e9e4";}
.iconeva-github-outline:before{content:"\e9e5";}
.iconeva-globe:before{content:"\e9e6";}
.iconeva-globe-2:before{content:"\e9e7";}
.iconeva-globe-2-outline:before{content:"\e9e8";}
.iconeva-globe-3:before{content:"\e9e9";}
.iconeva-globe-outline:before{content:"\e9ea";}
.iconeva-google:before{content:"\e9eb";}
.iconeva-google-outline:before{content:"\e9ec";}
.iconeva-grid:before{content:"\e9ed";}
.iconeva-grid-outline:before{content:"\e9ee";}
.iconeva-hard-drive:before{content:"\e9ef";}
.iconeva-hard-drive-outline:before{content:"\e9f0";}
.iconeva-hash:before{content:"\e9f1";}
.iconeva-hash-outline:before{content:"\e9f2";}
.iconeva-headphones:before{content:"\e9f3";}
.iconeva-headphones-outline:before{content:"\e9f4";}
.iconeva-heart:before{content:"\e9f5";}
.iconeva-heart-outline:before{content:"\e9f6";}
.iconeva-home:before{content:"\e9f7";}
.iconeva-home-outline:before{content:"\e9f8";}
.iconeva-image:before{content:"\e9f9";}
.iconeva-image-2:before{content:"\e9fa";}
.iconeva-image-outline:before{content:"\e9fb";}
.iconeva-inbox:before{content:"\e9fc";}
.iconeva-inbox-outline:before{content:"\e9fd";}
.iconeva-info:before{content:"\e9fe";}
.iconeva-info-outline:before{content:"\e9ff";}
.iconeva-keypad:before{content:"\ea00";}
.iconeva-keypad-outline:before{content:"\ea01";}
.iconeva-layers:before{content:"\ea02";}
.iconeva-layers-outline:before{content:"\ea03";}
.iconeva-layout:before{content:"\ea04";}
.iconeva-layout-outline:before{content:"\ea05";}
.iconeva-link:before{content:"\ea06";}
.iconeva-link-2:before{content:"\ea07";}
.iconeva-link-2-outline:before{content:"\ea08";}
.iconeva-linkedin:before{content:"\ea09";}
.iconeva-linkedin-outline:before{content:"\ea0a";}
.iconeva-link-outline:before{content:"\ea0b";}
.iconeva-list:before{content:"\ea0c";}
.iconeva-list-outline:before{content:"\ea0d";}
.iconeva-loader-outline:before{content:"\ea0e";}
.iconeva-lock:before{content:"\ea0f";}
.iconeva-lock-outline:before{content:"\ea10";}
.iconeva-log-in:before{content:"\ea11";}
.iconeva-log-in-outline:before{content:"\ea12";}
.iconeva-log-out:before{content:"\ea13";}
.iconeva-log-out-outline:before{content:"\ea14";}
.iconeva-map:before{content:"\ea15";}
.iconeva-map-outline:before{content:"\ea16";}
.iconeva-maximize:before{content:"\ea17";}
.iconeva-maximize-outline:before{content:"\ea18";}
.iconeva-menu:before{content:"\ea19";}
.iconeva-menu-2:before{content:"\ea1a";}
.iconeva-menu-2-outline:before{content:"\ea1b";}
.iconeva-menu-arrow:before{content:"\ea1c";}
.iconeva-menu-arrow-outline:before{content:"\ea1d";}
.iconeva-menu-outline:before{content:"\ea1e";}
.iconeva-message-circle:before{content:"\ea1f";}
.iconeva-message-circle-outline:before{content:"\ea20";}
.iconeva-message-square:before{content:"\ea21";}
.iconeva-message-square-outline:before{content:"\ea22";}
.iconeva-mic:before{content:"\ea23";}
.iconeva-mic-off:before{content:"\ea24";}
.iconeva-mic-off-outline:before{content:"\ea25";}
.iconeva-mic-outline:before{content:"\ea26";}
.iconeva-minimize:before{content:"\ea27";}
.iconeva-minimize-outline:before{content:"\ea28";}
.iconeva-minus:before{content:"\ea29";}
.iconeva-minus-circle:before{content:"\ea2a";}
.iconeva-minus-circle-outline:before{content:"\ea2b";}
.iconeva-minus-outline:before{content:"\ea2c";}
.iconeva-minus-square:before{content:"\ea2d";}
.iconeva-minus-square-outline:before{content:"\ea2e";}
.iconeva-monitor:before{content:"\ea2f";}
.iconeva-monitor-outline:before{content:"\ea30";}
.iconeva-moon:before{content:"\ea31";}
.iconeva-moon-outline:before{content:"\ea32";}
.iconeva-more-horizontal:before{content:"\ea33";}
.iconeva-more-horizontal-outline:before{content:"\ea34";}
.iconeva-more-vertical:before{content:"\ea35";}
.iconeva-more-vertical-outline:before{content:"\ea36";}
.iconeva-move:before{content:"\ea37";}
.iconeva-move-outline:before{content:"\ea38";}
.iconeva-music:before{content:"\ea39";}
.iconeva-music-outline:before{content:"\ea3a";}
.iconeva-navigation:before{content:"\ea3b";}
.iconeva-navigation-2:before{content:"\ea3c";}
.iconeva-navigation-2-outline:before{content:"\ea3d";}
.iconeva-navigation-outline:before{content:"\ea3e";}
.iconeva-npm:before{content:"\ea3f";}
.iconeva-npm-outline:before{content:"\ea40";}
.iconeva-options:before{content:"\ea41";}
.iconeva-options-2:before{content:"\ea42";}
.iconeva-options-2-outline:before{content:"\ea43";}
.iconeva-options-outline:before{content:"\ea44";}
.iconeva-pantone:before{content:"\ea45";}
.iconeva-pantone-outline:before{content:"\ea46";}
.iconeva-paper-plane:before{content:"\ea47";}
.iconeva-paper-plane-outline:before{content:"\ea48";}
.iconeva-pause-circle:before{content:"\ea49";}
.iconeva-pause-circle-outline:before{content:"\ea4a";}
.iconeva-people:before{content:"\ea4b";}
.iconeva-people-outline:before{content:"\ea4c";}
.iconeva-percent:before{content:"\ea4d";}
.iconeva-percent-outline:before{content:"\ea4e";}
.iconeva-person:before{content:"\ea4f";}
.iconeva-person-add:before{content:"\ea50";}
.iconeva-person-add-outline:before{content:"\ea51";}
.iconeva-person-delete:before{content:"\ea52";}
.iconeva-person-delete-outline:before{content:"\ea53";}
.iconeva-person-done:before{content:"\ea54";}
.iconeva-person-done-outline:before{content:"\ea55";}
.iconeva-person-outline:before{content:"\ea56";}
.iconeva-person-remove:before{content:"\ea57";}
.iconeva-person-remove-outline:before{content:"\ea58";}
.iconeva-phone:before{content:"\ea59";}
.iconeva-phone-call:before{content:"\ea5a";}
.iconeva-phone-call-outline:before{content:"\ea5b";}
.iconeva-phone-missed:before{content:"\ea5c";}
.iconeva-phone-missed-outline:before{content:"\ea5d";}
.iconeva-phone-off:before{content:"\ea5e";}
.iconeva-phone-off-outline:before{content:"\ea5f";}
.iconeva-phone-outline:before{content:"\ea60";}
.iconeva-pie-chart:before{content:"\ea61";}
.iconeva-pie-chart-2:before{content:"\ea62";}
.iconeva-pie-chart-outline:before{content:"\ea63";}
.iconeva-pin:before{content:"\ea64";}
.iconeva-pin-outline:before{content:"\ea65";}
.iconeva-play-circle:before{content:"\ea66";}
.iconeva-play-circle-outline:before{content:"\ea67";}
.iconeva-plus:before{content:"\ea68";}
.iconeva-plus-circle:before{content:"\ea69";}
.iconeva-plus-circle-outline:before{content:"\ea6a";}
.iconeva-plus-outline:before{content:"\ea6b";}
.iconeva-plus-square:before{content:"\ea6c";}
.iconeva-plus-square-outline:before{content:"\ea6d";}
.iconeva-power:before{content:"\ea6e";}
.iconeva-power-outline:before{content:"\ea6f";}
.iconeva-pricetags:before{content:"\ea70";}
.iconeva-pricetags-outline:before{content:"\ea71";}
.iconeva-printer:before{content:"\ea72";}
.iconeva-printer-outline:before{content:"\ea73";}
.iconeva-question-mark:before{content:"\ea74";}
.iconeva-question-mark-circle:before{content:"\ea75";}
.iconeva-question-mark-circle-outline:before{content:"\ea76";}
.iconeva-question-mark-outline:before{content:"\ea77";}
.iconeva-radio:before{content:"\ea78";}
.iconeva-radio-button-off:before{content:"\ea79";}
.iconeva-radio-button-off-outline:before{content:"\ea7a";}
.iconeva-radio-button-on:before{content:"\ea7b";}
.iconeva-radio-button-on-outline:before{content:"\ea7c";}
.iconeva-radio-outline:before{content:"\ea7d";}
.iconeva-recording:before{content:"\ea7e";}
.iconeva-recording-outline:before{content:"\ea7f";}
.iconeva-refresh:before{content:"\ea80";}
.iconeva-refresh-outline:before{content:"\ea81";}
.iconeva-repeat:before{content:"\ea82";}
.iconeva-repeat-outline:before{content:"\ea83";}
.iconeva-rewind-left:before{content:"\ea84";}
.iconeva-rewind-left-outline:before{content:"\ea85";}
.iconeva-rewind-right:before{content:"\ea86";}
.iconeva-rewind-right-outline:before{content:"\ea87";}
.iconeva-save:before{content:"\ea88";}
.iconeva-save-outline:before{content:"\ea89";}
.iconeva-scissors:before{content:"\ea8a";}
.iconeva-scissors-outline:before{content:"\ea8b";}
.iconeva-search:before{content:"\ea8c";}
.iconeva-search-outline:before{content:"\ea8d";}
.iconeva-settings:before{content:"\ea8e";}
.iconeva-settings-2:before{content:"\ea8f";}
.iconeva-settings-2-outline:before{content:"\ea90";}
.iconeva-settings-outline:before{content:"\ea91";}
.iconeva-shake:before{content:"\ea92";}
.iconeva-shake-outline:before{content:"\ea93";}
.iconeva-share:before{content:"\ea94";}
.iconeva-share-outline:before{content:"\ea95";}
.iconeva-shield:before{content:"\ea96";}
.iconeva-shield-off:before{content:"\ea97";}
.iconeva-shield-off-outline:before{content:"\ea98";}
.iconeva-shield-outline:before{content:"\ea99";}
.iconeva-shopping-bag:before{content:"\ea9a";}
.iconeva-shopping-bag-outline:before{content:"\ea9b";}
.iconeva-shopping-cart:before{content:"\ea9c";}
.iconeva-shopping-cart-outline:before{content:"\ea9d";}
.iconeva-shuffle:before{content:"\ea9e";}
.iconeva-shuffle-2:before{content:"\ea9f";}
.iconeva-shuffle-2-outline:before{content:"\eaa0";}
.iconeva-shuffle-outline:before{content:"\eaa1";}
.iconeva-skip-back:before{content:"\eaa2";}
.iconeva-skip-back-outline:before{content:"\eaa3";}
.iconeva-skip-forward:before{content:"\eaa4";}
.iconeva-skip-forward-outline:before{content:"\eaa5";}
.iconeva-slash:before{content:"\eaa6";}
.iconeva-slash-outline:before{content:"\eaa7";}
.iconeva-smartphone:before{content:"\eaa8";}
.iconeva-smartphone-outline:before{content:"\eaa9";}
.iconeva-smiling-face:before{content:"\eaaa";}
.iconeva-smiling-face-outline:before{content:"\eaab";}
.iconeva-speaker:before{content:"\eaac";}
.iconeva-speaker-outline:before{content:"\eaad";}
.iconeva-square:before{content:"\eaae";}
.iconeva-square-outline:before{content:"\eaaf";}
.iconeva-star:before{content:"\eab0";}
.iconeva-star-outline:before{content:"\eab1";}
.iconeva-stop-circle:before{content:"\eab2";}
.iconeva-stop-circle-outline:before{content:"\eab3";}
.iconeva-sun:before{content:"\eab4";}
.iconeva-sun-outline:before{content:"\eab5";}
.iconeva-swap:before{content:"\eab6";}
.iconeva-swap-outline:before{content:"\eab7";}
.iconeva-sync:before{content:"\eab8";}
.iconeva-sync-outline:before{content:"\eab9";}
.iconeva-text:before{content:"\eaba";}
.iconeva-text-outline:before{content:"\eabb";}
.iconeva-thermometer:before{content:"\eabc";}
.iconeva-thermometer-minus:before{content:"\eabd";}
.iconeva-thermometer-minus-outline:before{content:"\eabe";}
.iconeva-thermometer-outline:before{content:"\eabf";}
.iconeva-thermometer-plus:before{content:"\eac0";}
.iconeva-thermometer-plus-outline:before{content:"\eac1";}
.iconeva-toggle-left:before{content:"\eac2";}
.iconeva-toggle-left-outline:before{content:"\eac3";}
.iconeva-toggle-right:before{content:"\eac4";}
.iconeva-toggle-right-outline:before{content:"\eac5";}
.iconeva-trash:before{content:"\eac6";}
.iconeva-trash-2:before{content:"\eac7";}
.iconeva-trash-2-outline:before{content:"\eac8";}
.iconeva-trash-outline:before{content:"\eac9";}
.iconeva-trending-down:before{content:"\eaca";}
.iconeva-trending-down-outline:before{content:"\eacb";}
.iconeva-trending-up:before{content:"\eacc";}
.iconeva-trending-up-outline:before{content:"\eacd";}
.iconeva-tv:before{content:"\eace";}
.iconeva-tv-outline:before{content:"\eacf";}
.iconeva-twitter:before{content:"\ead0";}
.iconeva-twitter-outline:before{content:"\ead1";}
.iconeva-umbrella:before{content:"\ead2";}
.iconeva-umbrella-outline:before{content:"\ead3";}
.iconeva-undo:before{content:"\ead4";}
.iconeva-undo-outline:before{content:"\ead5";}
.iconeva-unlock:before{content:"\ead6";}
.iconeva-unlock-outline:before{content:"\ead7";}
.iconeva-upload:before{content:"\ead8";}
.iconeva-upload-outline:before{content:"\ead9";}
.iconeva-video:before{content:"\eada";}
.iconeva-video-off:before{content:"\eadb";}
.iconeva-video-off-outline:before{content:"\eadc";}
.iconeva-video-outline:before{content:"\eadd";}
.iconeva-volume-down:before{content:"\eade";}
.iconeva-volume-down-outline:before{content:"\eadf";}
.iconeva-volume-mute:before{content:"\eae0";}
.iconeva-volume-mute-outline:before{content:"\eae1";}
.iconeva-volume-off:before{content:"\eae2";}
.iconeva-volume-off-outline:before{content:"\eae3";}
.iconeva-volume-up:before{content:"\eae4";}
.iconeva-volume-up-outline:before{content:"\eae5";}
.iconeva-wifi:before{content:"\eae6";}
.iconeva-wifi-off:before{content:"\eae7";}
.iconeva-wifi-off-outline:before{content:"\eae8";}
.iconeva-wifi-outline:before{content:"\eae9";}