@font-face{font-family:"feather";src:url("https://thekoushikdurgas.github.io/TKDstroage/fonts/feather-webfont.eot");src:url("https://thekoushikdurgas.github.io/TKDstroage/fonts/feather-webfont.eot?#iefix") format("embedded-opentype"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/feather-webfont.woff") format("woff"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/feather-webfont.ttf") format("truetype"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/feather-webfont.svg#feather") format("svg");font-weight:normal;font-style:normal;}
[class^="feaicon-"],[class*=" feaicon-"]{display:inline-block;font-family:"feather";font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;speak:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.feaicon-eye:before{content:"\e000";}
.feaicon-paper-clip:before{content:"\e001";}
.feaicon-mail:before{content:"\e002";}
.feaicon-mail:before{content:"\e002";}
.feaicon-toggle:before{content:"\e003";}
.feaicon-layout:before{content:"\e004";}
.feaicon-link:before{content:"\e005";}
.feaicon-bell:before{content:"\e006";}
.feaicon-lock:before{content:"\e007";}
.feaicon-unlock:before{content:"\e008";}
.feaicon-ribbon:before{content:"\e009";}
.feaicon-image:before{content:"\e010";}
.feaicon-signal:before{content:"\e011";}
.feaicon-target:before{content:"\e012";}
.feaicon-clipboard:before{content:"\e013";}
.feaicon-clock:before{content:"\e014";}
.feaicon-clock:before{content:"\e014";}
.feaicon-watch:before{content:"\e015";}
.feaicon-air-play:before{content:"\e016";}
.feaicon-camera:before{content:"\e017";}
.feaicon-video:before{content:"\e018";}
.feaicon-disc:before{content:"\e019";}
.feaicon-printer:before{content:"\e020";}
.feaicon-monitor:before{content:"\e021";}
.feaicon-server:before{content:"\e022";}
.feaicon-cog:before{content:"\e023";}
.feaicon-heart:before{content:"\e024";}
.feaicon-paragraph:before{content:"\e025";}
.feaicon-align-justify:before{content:"\e026";}
.feaicon-align-left:before{content:"\e027";}
.feaicon-align-center:before{content:"\e028";}
.feaicon-align-right:before{content:"\e029";}
.feaicon-book:before{content:"\e030";}
.feaicon-layers:before{content:"\e031";}
.feaicon-stack:before{content:"\e032";}
.feaicon-stack-2:before{content:"\e033";}
.feaicon-paper:before{content:"\e034";}
.feaicon-paper-stack:before{content:"\e035";}
.feaicon-search:before{content:"\e036";}
.feaicon-zoom-in:before{content:"\e037";}
.feaicon-zoom-out:before{content:"\e038";}
.feaicon-reply:before{content:"\e039";}
.feaicon-circle-plus:before{content:"\e040";}
.feaicon-circle-minus:before{content:"\e041";}
.feaicon-circle-check:before{content:"\e042";}
.feaicon-circle-cross:before{content:"\e043";}
.feaicon-square-plus:before{content:"\e044";}
.feaicon-square-minus:before{content:"\e045";}
.feaicon-square-check:before{content:"\e046";}
.feaicon-square-cross:before{content:"\e047";}
.feaicon-microphone:before{content:"\e048";}
.feaicon-record:before{content:"\e049";}
.feaicon-skip-back:before{content:"\e050";}
.feaicon-rewind:before{content:"\e051";}
.feaicon-play:before{content:"\e052";}
.feaicon-pause:before{content:"\e053";}
.feaicon-stop:before{content:"\e054";}
.feaicon-fast-forward:before{content:"\e055";}
.feaicon-skip-forward:before{content:"\e056";}
.feaicon-shuffle:before{content:"\e057";}
.feaicon-repeat:before{content:"\e058";}
.feaicon-folder:before{content:"\e059";}
.feaicon-umbrella:before{content:"\e060";}
.feaicon-moon:before{content:"\e061";}
.feaicon-thermometer:before{content:"\e062";}
.feaicon-drop:before{content:"\e063";}
.feaicon-sun:before{content:"\e064";}
.feaicon-cloud:before{content:"\e065";}
.feaicon-cloud-upload:before{content:"\e066";}
.feaicon-cloud-download:before{content:"\e067";}
.feaicon-upload:before{content:"\e068";}
.feaicon-download:before{content:"\e069";}
.feaicon-location:before{content:"\e070";}
.feaicon-location-2:before{content:"\e071";}
.feaicon-map:before{content:"\e072";}
.feaicon-battery:before{content:"\e073";}
.feaicon-head:before{content:"\e074";}
.feaicon-briefcase:before{content:"\e075";}
.feaicon-speech-bubble:before{content:"\e076";}
.feaicon-anchor:before{content:"\e077";}
.feaicon-globe:before{content:"\e078";}
.feaicon-box:before{content:"\e079";}
.feaicon-reload:before{content:"\e080";}
.feaicon-share:before{content:"\e081";}
.feaicon-marquee:before{content:"\e082";}
.feaicon-marquee-plus:before{content:"\e083";}
.feaicon-marquee-minus:before{content:"\e084";}
.feaicon-tag:before{content:"\e085";}
.feaicon-power:before{content:"\e086";}
.feaicon-command:before{content:"\e087";}
.feaicon-alt:before{content:"\e088";}
.feaicon-esc:before{content:"\e089";}
.feaicon-bar-graph:before{content:"\e090";}
.feaicon-bar-graph-2:before{content:"\e091";}
.feaicon-pie-graph:before{content:"\e092";}
.feaicon-star:before{content:"\e093";}
.feaicon-arrow-left:before{content:"\e094";}
.feaicon-arrow-right:before{content:"\e095";}
.feaicon-arrow-up:before{content:"\e096";}
.feaicon-arrow-down:before{content:"\e097";}
.feaicon-volume:before{content:"\e098";}
.feaicon-mute:before{content:"\e099";}
.feaicon-content-right:before{content:"\e100";}
.feaicon-content-left:before{content:"\e101";}
.feaicon-grid:before{content:"\e102";}
.feaicon-grid-2:before{content:"\e103";}
.feaicon-columns:before{content:"\e104";}
.feaicon-loader:before{content:"\e105";}
.feaicon-bag:before{content:"\e106";}
.feaicon-ban:before{content:"\e107";}
.feaicon-flag:before{content:"\e108";}
.feaicon-trash:before{content:"\e109";}
.feaicon-expand:before{content:"\e110";}
.feaicon-contract:before{content:"\e111";}
.feaicon-maximize:before{content:"\e112";}
.feaicon-minimize:before{content:"\e113";}
.feaicon-plus:before{content:"\e114";}
.feaicon-minus:before{content:"\e115";}
.feaicon-check:before{content:"\e116";}
.feaicon-cross:before{content:"\e117";}
.feaicon-move:before{content:"\e118";}
.feaicon-delete:before{content:"\e119";}
.feaicon-menu:before{content:"\e120";}
.feaicon-archive:before{content:"\e121";}
.feaicon-inbox:before{content:"\e122";}
.feaicon-outbox:before{content:"\e123";}
.feaicon-file:before{content:"\e124";}
.feaicon-file-add:before{content:"\e125";}
.feaicon-file-subtract:before{content:"\e126";}
.feaicon-help:before{content:"\e127";}
.feaicon-open:before{content:"\e128";}
.feaicon-ellipsis:before{content:"\e129";}