@font-face{font-family:"icomoon2";src:url("https://thekoushikdurgas.github.io/TKDstroage/fonts/icomoon2.eot?3bpnup");src:url("https://thekoushikdurgas.github.io/TKDstroage/fonts/icomoon2.eot?3bpnup#iefix") format("embedded-opentype"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/icomoon2.ttf?3bpnup") format("truetype"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/icomoon2.woff?3bpnup") format("woff"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/icomoon2.svg?3bpnup#icomoon") format("svg");font-weight:normal;font-style:normal;font-display:block;}
[class^="icon2-"],[class*=" icon2-"]{font-family:"icomoon2"!important;speak:never;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon2-home:before{content:"\e900";}
.icon2-home2:before{content:"\e901";}
.icon2-home3:before{content:"\e902";}
.icon2-office:before{content:"\e903";}
.icon2-newspaper:before{content:"\e904";}
.icon2-pencil:before{content:"\e905";}
.icon2-pencil2:before{content:"\e906";}
.icon2-quill:before{content:"\e907";}
.icon2-pen:before{content:"\e908";}
.icon2-blog:before{content:"\e909";}
.icon2-eyedropper:before{content:"\e90a";}
.icon2-droplet:before{content:"\e90b";}
.icon2-paint-format:before{content:"\e90c";}
.icon2-image:before{content:"\e90d";}
.icon2-images:before{content:"\e90e";}
.icon2-camera:before{content:"\e90f";}
.icon2-headphones:before{content:"\e910";}
.icon2-music:before{content:"\e911";}
.icon2-play:before{content:"\e912";}
.icon2-film:before{content:"\e913";}
.icon2-video-camera:before{content:"\e914";}
.icon2-dice:before{content:"\e915";}
.icon2-pacman:before{content:"\e916";}
.icon2-spades:before{content:"\e917";}
.icon2-clubs:before{content:"\e918";}
.icon2-diamonds:before{content:"\e919";}
.icon2-bullhorn:before{content:"\e91a";}
.icon2-connection:before{content:"\e91b";}
.icon2-podcast:before{content:"\e91c";}
.icon2-feed:before{content:"\e91d";}
.icon2-mic:before{content:"\e91e";}
.icon2-book:before{content:"\e91f";}
.icon2-books:before{content:"\e920";}
.icon2-library:before{content:"\e921";}
.icon2-file-text:before{content:"\e922";}
.icon2-profile:before{content:"\e923";}
.icon2-file-empty:before{content:"\e924";}
.icon2-files-empty:before{content:"\e925";}
.icon2-file-text2:before{content:"\e926";}
.icon2-file-picture:before{content:"\e927";}
.icon2-file-music:before{content:"\e928";}
.icon2-file-play:before{content:"\e929";}
.icon2-file-video:before{content:"\e92a";}
.icon2-file-zip:before{content:"\e92b";}
.icon2-copy:before{content:"\e92c";}
.icon2-paste:before{content:"\e92d";}
.icon2-stack:before{content:"\e92e";}
.icon2-folder:before{content:"\e92f";}
.icon2-folder-open:before{content:"\e930";}
.icon2-folder-plus:before{content:"\e931";}
.icon2-folder-minus:before{content:"\e932";}
.icon2-folder-download:before{content:"\e933";}
.icon2-folder-upload:before{content:"\e934";}
.icon2-price-tag:before{content:"\e935";}
.icon2-price-tags:before{content:"\e936";}
.icon2-barcode:before{content:"\e937";}
.icon2-qrcode:before{content:"\e938";}
.icon2-ticket:before{content:"\e939";}
.icon2-cart:before{content:"\e93a";}
.icon2-coin-dollar:before{content:"\e93b";}
.icon2-coin-euro:before{content:"\e93c";}
.icon2-coin-pound:before{content:"\e93d";}
.icon2-coin-yen:before{content:"\e93e";}
.icon2-credit-card:before{content:"\e93f";}
.icon2-calculator:before{content:"\e940";}
.icon2-lifebuoy:before{content:"\e941";}
.icon2-phone:before{content:"\e942";}
.icon2-phone-hang-up:before{content:"\e943";}
.icon2-address-book:before{content:"\e944";}
.icon2-envelop:before{content:"\e945";}
.icon2-pushpin:before{content:"\e946";}
.icon2-location:before{content:"\e947";}
.icon2-location2:before{content:"\e948";}
.icon2-compass:before{content:"\e949";}
.icon2-compass2:before{content:"\e94a";}
.icon2-map:before{content:"\e94b";}
.icon2-map2:before{content:"\e94c";}
.icon2-history:before{content:"\e94d";}
.icon2-clock:before{content:"\e94e";}
.icon2-clock2:before{content:"\e94f";}
.icon2-alarm:before{content:"\e950";}
.icon2-bell:before{content:"\e951";}
.icon2-stopwatch:before{content:"\e952";}
.icon2-calendar:before{content:"\e953";}
.icon2-printer:before{content:"\e954";}
.icon2-keyboard:before{content:"\e955";}
.icon2-display:before{content:"\e956";}
.icon2-laptop:before{content:"\e957";}
.icon2-mobile:before{content:"\e958";}
.icon2-mobile2:before{content:"\e959";}
.icon2-tablet:before{content:"\e95a";}
.icon2-tv:before{content:"\e95b";}
.icon2-drawer:before{content:"\e95c";}
.icon2-drawer2:before{content:"\e95d";}
.icon2-box-add:before{content:"\e95e";}
.icon2-box-remove:before{content:"\e95f";}
.icon2-download:before{content:"\e960";}
.icon2-upload:before{content:"\e961";}
.icon2-floppy-disk:before{content:"\e962";}
.icon2-drive:before{content:"\e963";}
.icon2-database:before{content:"\e964";}
.icon2-undo:before{content:"\e965";}
.icon2-redo:before{content:"\e966";}
.icon2-undo2:before{content:"\e967";}
.icon2-redo2:before{content:"\e968";}
.icon2-forward:before{content:"\e969";}
.icon2-reply:before{content:"\e96a";}
.icon2-bubble:before{content:"\e96b";}
.icon2-bubbles:before{content:"\e96c";}
.icon2-bubbles2:before{content:"\e96d";}
.icon2-bubble2:before{content:"\e96e";}
.icon2-bubbles3:before{content:"\e96f";}
.icon2-bubbles4:before{content:"\e970";}
.icon2-user:before{content:"\e971";}
.icon2-users:before{content:"\e972";}
.icon2-user-plus:before{content:"\e973";}
.icon2-user-minus:before{content:"\e974";}
.icon2-user-check:before{content:"\e975";}
.icon2-user-tie:before{content:"\e976";}
.icon2-quotes-left:before{content:"\e977";}
.icon2-quotes-right:before{content:"\e978";}
.icon2-hour-glass:before{content:"\e979";}
.icon2-spinner:before{content:"\e97a";}
.icon2-spinner2:before{content:"\e97b";}
.icon2-spinner3:before{content:"\e97c";}
.icon2-spinner4:before{content:"\e97d";}
.icon2-spinner5:before{content:"\e97e";}
.icon2-spinner6:before{content:"\e97f";}
.icon2-spinner7:before{content:"\e980";}
.icon2-spinner8:before{content:"\e981";}
.icon2-spinner9:before{content:"\e982";}
.icon2-spinner10:before{content:"\e983";}
.icon2-spinner11:before{content:"\e984";}
.icon2-binoculars:before{content:"\e985";}
.icon2-search:before{content:"\e986";}
.icon2-zoom-in:before{content:"\e987";}
.icon2-zoom-out:before{content:"\e988";}
.icon2-enlarge:before{content:"\e989";}
.icon2-shrink:before{content:"\e98a";}
.icon2-enlarge2:before{content:"\e98b";}
.icon2-shrink2:before{content:"\e98c";}
.icon2-key:before{content:"\e98d";}
.icon2-key2:before{content:"\e98e";}
.icon2-lock:before{content:"\e98f";}
.icon2-unlocked:before{content:"\e990";}
.icon2-wrench:before{content:"\e991";}
.icon2-equalizer:before{content:"\e992";}
.icon2-equalizer2:before{content:"\e993";}
.icon2-cog:before{content:"\e994";}
.icon2-cogs:before{content:"\e995";}
.icon2-hammer:before{content:"\e996";}
.icon2-magic-wand:before{content:"\e997";}
.icon2-aid-kit:before{content:"\e998";}
.icon2-bug:before{content:"\e999";}
.icon2-pie-chart:before{content:"\e99a";}
.icon2-stats-dots:before{content:"\e99b";}
.icon2-stats-bars:before{content:"\e99c";}
.icon2-stats-bars2:before{content:"\e99d";}
.icon2-trophy:before{content:"\e99e";}
.icon2-gift:before{content:"\e99f";}
.icon2-glass:before{content:"\e9a0";}
.icon2-glass2:before{content:"\e9a1";}
.icon2-mug:before{content:"\e9a2";}
.icon2-spoon-knife:before{content:"\e9a3";}
.icon2-leaf:before{content:"\e9a4";}
.icon2-rocket:before{content:"\e9a5";}
.icon2-meter:before{content:"\e9a6";}
.icon2-meter2:before{content:"\e9a7";}
.icon2-hammer2:before{content:"\e9a8";}
.icon2-fire:before{content:"\e9a9";}
.icon2-lab:before{content:"\e9aa";}
.icon2-magnet:before{content:"\e9ab";}
.icon2-bin:before{content:"\e9ac";}
.icon2-bin2:before{content:"\e9ad";}
.icon2-briefcase:before{content:"\e9ae";}
.icon2-airplane:before{content:"\e9af";}
.icon2-truck:before{content:"\e9b0";}
.icon2-road:before{content:"\e9b1";}
.icon2-accessibility:before{content:"\e9b2";}
.icon2-target:before{content:"\e9b3";}
.icon2-shield:before{content:"\e9b4";}
.icon2-power:before{content:"\e9b5";}
.icon2-switch:before{content:"\e9b6";}
.icon2-power-cord:before{content:"\e9b7";}
.icon2-clipboard:before{content:"\e9b8";}
.icon2-list-numbered:before{content:"\e9b9";}
.icon2-list:before{content:"\e9ba";}
.icon2-list2:before{content:"\e9bb";}
.icon2-tree:before{content:"\e9bc";}
.icon2-menu:before{content:"\e9bd";}
.icon2-menu2:before{content:"\e9be";}
.icon2-menu3:before{content:"\e9bf";}
.icon2-menu4:before{content:"\e9c0";}
.icon2-cloud:before{content:"\e9c1";}
.icon2-cloud-download:before{content:"\e9c2";}
.icon2-cloud-upload:before{content:"\e9c3";}
.icon2-cloud-check:before{content:"\e9c4";}
.icon2-download2:before{content:"\e9c5";}
.icon2-upload2:before{content:"\e9c6";}
.icon2-download3:before{content:"\e9c7";}
.icon2-upload3:before{content:"\e9c8";}
.icon2-sphere:before{content:"\e9c9";}
.icon2-earth:before{content:"\e9ca";}
.icon2-link:before{content:"\e9cb";}
.icon2-flag:before{content:"\e9cc";}
.icon2-attachment:before{content:"\e9cd";}
.icon2-eye:before{content:"\e9ce";}
.icon2-eye-plus:before{content:"\e9cf";}
.icon2-eye-minus:before{content:"\e9d0";}
.icon2-eye-blocked:before{content:"\e9d1";}
.icon2-bookmark:before{content:"\e9d2";}
.icon2-bookmarks:before{content:"\e9d3";}
.icon2-sun:before{content:"\e9d4";}
.icon2-contrast:before{content:"\e9d5";}
.icon2-brightness-contrast:before{content:"\e9d6";}
.icon2-star-empty:before{content:"\e9d7";}
.icon2-star-half:before{content:"\e9d8";}
.icon2-star-full:before{content:"\e9d9";}
.icon2-heart:before{content:"\e9da";}
.icon2-heart-broken:before{content:"\e9db";}
.icon2-man:before{content:"\e9dc";}
.icon2-woman:before{content:"\e9dd";}
.icon2-man-woman:before{content:"\e9de";}
.icon2-happy:before{content:"\e9df";}
.icon2-happy2:before{content:"\e9e0";}
.icon2-smile:before{content:"\e9e1";}
.icon2-smile2:before{content:"\e9e2";}
.icon2-tongue:before{content:"\e9e3";}
.icon2-tongue2:before{content:"\e9e4";}
.icon2-sad:before{content:"\e9e5";}
.icon2-sad2:before{content:"\e9e6";}
.icon2-wink:before{content:"\e9e7";}
.icon2-wink2:before{content:"\e9e8";}
.icon2-grin:before{content:"\e9e9";}
.icon2-grin2:before{content:"\e9ea";}
.icon2-cool:before{content:"\e9eb";}
.icon2-cool2:before{content:"\e9ec";}
.icon2-angry:before{content:"\e9ed";}
.icon2-angry2:before{content:"\e9ee";}
.icon2-evil:before{content:"\e9ef";}
.icon2-evil2:before{content:"\e9f0";}
.icon2-shocked:before{content:"\e9f1";}
.icon2-shocked2:before{content:"\e9f2";}
.icon2-baffled:before{content:"\e9f3";}
.icon2-baffled2:before{content:"\e9f4";}
.icon2-confused:before{content:"\e9f5";}
.icon2-confused2:before{content:"\e9f6";}
.icon2-neutral:before{content:"\e9f7";}
.icon2-neutral2:before{content:"\e9f8";}
.icon2-hipster:before{content:"\e9f9";}
.icon2-hipster2:before{content:"\e9fa";}
.icon2-wondering:before{content:"\e9fb";}
.icon2-wondering2:before{content:"\e9fc";}
.icon2-sleepy:before{content:"\e9fd";}
.icon2-sleepy2:before{content:"\e9fe";}
.icon2-frustrated:before{content:"\e9ff";}
.icon2-frustrated2:before{content:"\ea00";}
.icon2-crying:before{content:"\ea01";}
.icon2-crying2:before{content:"\ea02";}
.icon2-point-up:before{content:"\ea03";}
.icon2-point-right:before{content:"\ea04";}
.icon2-point-down:before{content:"\ea05";}
.icon2-point-left:before{content:"\ea06";}
.icon2-warning:before{content:"\ea07";}
.icon2-notification:before{content:"\ea08";}
.icon2-question:before{content:"\ea09";}
.icon2-plus:before{content:"\ea0a";}
.icon2-minus:before{content:"\ea0b";}
.icon2-info:before{content:"\ea0c";}
.icon2-cancel-circle:before{content:"\ea0d";}
.icon2-blocked:before{content:"\ea0e";}
.icon2-cross:before{content:"\ea0f";}
.icon2-checkmark:before{content:"\ea10";}
.icon2-checkmark2:before{content:"\ea11";}
.icon2-spell-check:before{content:"\ea12";}
.icon2-enter:before{content:"\ea13";}
.icon2-exit:before{content:"\ea14";}
.icon2-play2:before{content:"\ea15";}
.icon2-pause:before{content:"\ea16";}
.icon2-stop:before{content:"\ea17";}
.icon2-previous:before{content:"\ea18";}
.icon2-next:before{content:"\ea19";}
.icon2-backward:before{content:"\ea1a";}
.icon2-forward2:before{content:"\ea1b";}
.icon2-play3:before{content:"\ea1c";}
.icon2-pause2:before{content:"\ea1d";}
.icon2-stop2:before{content:"\ea1e";}
.icon2-backward2:before{content:"\ea1f";}
.icon2-forward3:before{content:"\ea20";}
.icon2-first:before{content:"\ea21";}
.icon2-last:before{content:"\ea22";}
.icon2-previous2:before{content:"\ea23";}
.icon2-next2:before{content:"\ea24";}
.icon2-eject:before{content:"\ea25";}
.icon2-volume-high:before{content:"\ea26";}
.icon2-volume-medium:before{content:"\ea27";}
.icon2-volume-low:before{content:"\ea28";}
.icon2-volume-mute:before{content:"\ea29";}
.icon2-volume-mute2:before{content:"\ea2a";}
.icon2-volume-increase:before{content:"\ea2b";}
.icon2-volume-decrease:before{content:"\ea2c";}
.icon2-loop:before{content:"\ea2d";}
.icon2-loop2:before{content:"\ea2e";}
.icon2-infinite:before{content:"\ea2f";}
.icon2-shuffle:before{content:"\ea30";}
.icon2-arrow-up-left:before{content:"\ea31";}
.icon2-arrow-up:before{content:"\ea32";}
.icon2-arrow-up-right:before{content:"\ea33";}
.icon2-arrow-right:before{content:"\ea34";}
.icon2-arrow-down-right:before{content:"\ea35";}
.icon2-arrow-down:before{content:"\ea36";}
.icon2-arrow-down-left:before{content:"\ea37";}
.icon2-arrow-left:before{content:"\ea38";}
.icon2-arrow-up-left2:before{content:"\ea39";}
.icon2-arrow-up2:before{content:"\ea3a";}
.icon2-arrow-up-right2:before{content:"\ea3b";}
.icon2-arrow-right2:before{content:"\ea3c";}
.icon2-arrow-down-right2:before{content:"\ea3d";}
.icon2-arrow-down2:before{content:"\ea3e";}
.icon2-arrow-down-left2:before{content:"\ea3f";}
.icon2-arrow-left2:before{content:"\ea40";}
.icon2-circle-up:before{content:"\ea41";}
.icon2-circle-right:before{content:"\ea42";}
.icon2-circle-down:before{content:"\ea43";}
.icon2-circle-left:before{content:"\ea44";}
.icon2-tab:before{content:"\ea45";}
.icon2-move-up:before{content:"\ea46";}
.icon2-move-down:before{content:"\ea47";}
.icon2-sort-alpha-asc:before{content:"\ea48";}
.icon2-sort-alpha-desc:before{content:"\ea49";}
.icon2-sort-numeric-asc:before{content:"\ea4a";}
.icon2-sort-numberic-desc:before{content:"\ea4b";}
.icon2-sort-amount-asc:before{content:"\ea4c";}
.icon2-sort-amount-desc:before{content:"\ea4d";}
.icon2-command:before{content:"\ea4e";}
.icon2-shift:before{content:"\ea4f";}
.icon2-ctrl:before{content:"\ea50";}
.icon2-opt:before{content:"\ea51";}
.icon2-checkbox-checked:before{content:"\ea52";}
.icon2-checkbox-unchecked:before{content:"\ea53";}
.icon2-radio-checked:before{content:"\ea54";}
.icon2-radio-checked2:before{content:"\ea55";}
.icon2-radio-unchecked:before{content:"\ea56";}
.icon2-crop:before{content:"\ea57";}
.icon2-make-group:before{content:"\ea58";}
.icon2-ungroup:before{content:"\ea59";}
.icon2-scissors:before{content:"\ea5a";}
.icon2-filter:before{content:"\ea5b";}
.icon2-font:before{content:"\ea5c";}
.icon2-ligature:before{content:"\ea5d";}
.icon2-ligature2:before{content:"\ea5e";}
.icon2-text-height:before{content:"\ea5f";}
.icon2-text-width:before{content:"\ea60";}
.icon2-font-size:before{content:"\ea61";}
.icon2-bold:before{content:"\ea62";}
.icon2-underline:before{content:"\ea63";}
.icon2-italic:before{content:"\ea64";}
.icon2-strikethrough:before{content:"\ea65";}
.icon2-omega:before{content:"\ea66";}
.icon2-sigma:before{content:"\ea67";}
.icon2-page-break:before{content:"\ea68";}
.icon2-superscript:before{content:"\ea69";}
.icon2-subscript:before{content:"\ea6a";}
.icon2-superscript2:before{content:"\ea6b";}
.icon2-subscript2:before{content:"\ea6c";}
.icon2-text-color:before{content:"\ea6d";}
.icon2-pagebreak:before{content:"\ea6e";}
.icon2-clear-formatting:before{content:"\ea6f";}
.icon2-table:before{content:"\ea70";}
.icon2-table2:before{content:"\ea71";}
.icon2-insert-template:before{content:"\ea72";}
.icon2-pilcrow:before{content:"\ea73";}
.icon2-ltr:before{content:"\ea74";}
.icon2-rtl:before{content:"\ea75";}
.icon2-section:before{content:"\ea76";}
.icon2-paragraph-left:before{content:"\ea77";}
.icon2-paragraph-center:before{content:"\ea78";}
.icon2-paragraph-right:before{content:"\ea79";}
.icon2-paragraph-justify:before{content:"\ea7a";}
.icon2-indent-increase:before{content:"\ea7b";}
.icon2-indent-decrease:before{content:"\ea7c";}
.icon2-share:before{content:"\ea7d";}
.icon2-new-tab:before{content:"\ea7e";}
.icon2-embed:before{content:"\ea7f";}
.icon2-embed2:before{content:"\ea80";}
.icon2-terminal:before{content:"\ea81";}
.icon2-share2:before{content:"\ea82";}
.icon2-mail:before{content:"\ea83";}
.icon2-mail2:before{content:"\ea84";}
.icon2-mail3:before{content:"\ea85";}
.icon2-mail4:before{content:"\ea86";}
.icon2-amazon:before{content:"\ea87";}
.icon2-google:before{content:"\ea88";}
.icon2-google2:before{content:"\ea89";}
.icon2-google3:before{content:"\ea8a";}
.icon2-google-plus:before{content:"\ea8b";}
.icon2-google-plus2:before{content:"\ea8c";}
.icon2-google-plus3:before{content:"\ea8d";}
.icon2-hangouts:before{content:"\ea8e";}
.icon2-google-drive:before{content:"\ea8f";}
.icon2-facebook:before{content:"\ea90";}
.icon2-facebook2:before{content:"\ea91";}
.icon2-instagram:before{content:"\ea92";}
.icon2-whatsapp:before{content:"\ea93";}
.icon2-spotify:before{content:"\ea94";}
.icon2-telegram:before{content:"\ea95";}
.icon2-twitter:before{content:"\ea96";}
.icon2-vine:before{content:"\ea97";}
.icon2-vk:before{content:"\ea98";}
.icon2-renren:before{content:"\ea99";}
.icon2-sina-weibo:before{content:"\ea9a";}
.icon2-rss:before{content:"\ea9b";}
.icon2-rss2:before{content:"\ea9c";}
.icon2-youtube:before{content:"\ea9d";}
.icon2-youtube2:before{content:"\ea9e";}
.icon2-twitch:before{content:"\ea9f";}
.icon2-vimeo:before{content:"\eaa0";}
.icon2-vimeo2:before{content:"\eaa1";}
.icon2-lanyrd:before{content:"\eaa2";}
.icon2-flickr:before{content:"\eaa3";}
.icon2-flickr2:before{content:"\eaa4";}
.icon2-flickr3:before{content:"\eaa5";}
.icon2-flickr4:before{content:"\eaa6";}
.icon2-dribbble:before{content:"\eaa7";}
.icon2-behance:before{content:"\eaa8";}
.icon2-behance2:before{content:"\eaa9";}
.icon2-deviantart:before{content:"\eaaa";}
.icon2-500px:before{content:"\eaab";}
.icon2-steam:before{content:"\eaac";}
.icon2-steam2:before{content:"\eaad";}
.icon2-dropbox:before{content:"\eaae";}
.icon2-onedrive:before{content:"\eaaf";}
.icon2-github:before{content:"\eab0";}
.icon2-npm:before{content:"\eab1";}
.icon2-basecamp:before{content:"\eab2";}
.icon2-trello:before{content:"\eab3";}
.icon2-wordpress:before{content:"\eab4";}
.icon2-joomla:before{content:"\eab5";}
.icon2-ello:before{content:"\eab6";}
.icon2-blogger:before{content:"\eab7";}
.icon2-blogger2:before{content:"\eab8";}
.icon2-tumblr:before{content:"\eab9";}
.icon2-tumblr2:before{content:"\eaba";}
.icon2-yahoo:before{content:"\eabb";}
.icon2-yahoo2:before{content:"\eabc";}
.icon2-tux:before{content:"\eabd";}
.icon2-appleinc:before{content:"\eabe";}
.icon2-finder:before{content:"\eabf";}
.icon2-android:before{content:"\eac0";}
.icon2-windows:before{content:"\eac1";}
.icon2-windows8:before{content:"\eac2";}
.icon2-soundcloud:before{content:"\eac3";}
.icon2-soundcloud2:before{content:"\eac4";}
.icon2-skype:before{content:"\eac5";}
.icon2-reddit:before{content:"\eac6";}
.icon2-hackernews:before{content:"\eac7";}
.icon2-wikipedia:before{content:"\eac8";}
.icon2-linkedin:before{content:"\eac9";}
.icon2-linkedin2:before{content:"\eaca";}
.icon2-lastfm:before{content:"\eacb";}
.icon2-lastfm2:before{content:"\eacc";}
.icon2-delicious:before{content:"\eacd";}
.icon2-stumbleupon:before{content:"\eace";}
.icon2-stumbleupon2:before{content:"\eacf";}
.icon2-stackoverflow:before{content:"\ead0";}
.icon2-pinterest:before{content:"\ead1";}
.icon2-pinterest2:before{content:"\ead2";}
.icon2-xing:before{content:"\ead3";}
.icon2-xing2:before{content:"\ead4";}
.icon2-flattr:before{content:"\ead5";}
.icon2-foursquare:before{content:"\ead6";}
.icon2-yelp:before{content:"\ead7";}
.icon2-paypal:before{content:"\ead8";}
.icon2-chrome:before{content:"\ead9";}
.icon2-firefox:before{content:"\eada";}
.icon2-IE:before{content:"\eadb";}
.icon2-edge:before{content:"\eadc";}
.icon2-safari:before{content:"\eadd";}
.icon2-opera:before{content:"\eade";}
.icon2-file-pdf:before{content:"\eadf";}
.icon2-file-openoffice:before{content:"\eae0";}
.icon2-file-word:before{content:"\eae1";}
.icon2-file-excel:before{content:"\eae2";}
.icon2-libreoffice:before{content:"\eae3";}
.icon2-html-five:before{content:"\eae4";}
.icon2-html-five2:before{content:"\eae5";}
.icon2-css3:before{content:"\eae6";}
.icon2-git:before{content:"\eae7";}
.icon2-codepen:before{content:"\eae8";}
.icon2-svg:before{content:"\eae9";}
.icon2-IcoMoon:before{content:"\eaea";}