@font-face{font-family:'icomoon4';src:url('https://thekoushikdurgas.github.io/TKDstroage/fonts/icomoon4.eot?6j0odf');src:url('https://thekoushikdurgas.github.io/TKDstroage/fonts/icomoon4.eot?6j0odf#iefix') format('embedded-opentype'),url('https://thekoushikdurgas.github.io/TKDstroage/fonts/icomoon4.ttf?6j0odf') format('truetype'),url('https://thekoushikdurgas.github.io/TKDstroage/fonts/icomoon4.woff?6j0odf') format('woff'),url('https://thekoushikdurgas.github.io/TKDstroage/fonts/icomoon4.svg?6j0odf#icomoon4') format('svg');font-weight:normal;font-style:normal;font-display:block;}
[class^="icon4-"],[class*=" icon4-"]{font-family:'icomoon4'!important;speak:never;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon4-accessibility:before{content:"\e900";}
.icon4-accessibility-sharp:before{content:"\e902";}
.icon4-add-circle:before{content:"\e904";}
.icon4-add-circle-sharp:before{content:"\e906";}
.icon4-airplane:before{content:"\e909";}
.icon4-airplane-sharp:before{content:"\e90b";}
.icon4-alarm:before{content:"\e90c";}
.icon4-alarm-sharp:before{content:"\e90e";}
.icon4-albums:before{content:"\e90f";}
.icon4-albums-sharp:before{content:"\e911";}
.icon4-alert-circle:before{content:"\e913";}
.icon4-alert-circle-sharp:before{content:"\e915";}
.icon4-american-football:before{content:"\e918";}
.icon4-american-football-sharp:before{content:"\e91a";}
.icon4-analytics:before{content:"\e91b";}
.icon4-analytics-sharp:before{content:"\e91d";}
.icon4-aperture:before{content:"\e91e";}
.icon4-aperture-sharp:before{content:"\e920";}
.icon4-apps:before{content:"\e921";}
.icon4-apps-sharp:before{content:"\e923";}
.icon4-archive:before{content:"\e924";}
.icon4-archive-sharp:before{content:"\e926";}
.icon4-arrow-back-circle:before{content:"\e928";}
.icon4-arrow-back-circle-sharp:before{content:"\e92a";}
.icon4-arrow-down-circle:before{content:"\e92e";}
.icon4-arrow-down-circle-sharp:before{content:"\e930";}
.icon4-arrow-forward-circle:before{content:"\e934";}
.icon4-arrow-forward-circle-sharp:before{content:"\e936";}
.icon4-arrow-redo:before{content:"\e939";}
.icon4-arrow-redo-circle:before{content:"\e93a";}
.icon4-arrow-redo-circle-sharp:before{content:"\e93c";}
.icon4-arrow-redo-sharp:before{content:"\e93e";}
.icon4-arrow-undo:before{content:"\e93f";}
.icon4-arrow-undo-circle:before{content:"\e940";}
.icon4-arrow-undo-circle-sharp:before{content:"\e942";}
.icon4-arrow-undo-sharp:before{content:"\e944";}
.icon4-arrow-up-circle:before{content:"\e946";}
.icon4-arrow-up-circle-sharp:before{content:"\e948";}
.icon4-at-circle:before{content:"\e94c";}
.icon4-at-circle-sharp:before{content:"\e94e";}
.icon4-at-sharp:before{content:"\e950";}
.icon4-backspace:before{content:"\e954";}
.icon4-backspace-sharp:before{content:"\e956";}
.icon4-bag:before{content:"\e957";}
.icon4-bag-add:before{content:"\e958";}
.icon4-bag-add-sharp:before{content:"\e95a";}
.icon4-bag-check:before{content:"\e95b";}
.icon4-bag-check-sharp:before{content:"\e95d";}
.icon4-bag-handle:before{content:"\e95e";}
.icon4-bag-handle-sharp:before{content:"\e960";}
.icon4-bag-remove:before{content:"\e962";}
.icon4-bag-remove-sharp:before{content:"\e964";}
.icon4-bag-sharp:before{content:"\e965";}
.icon4-balloon:before{content:"\e966";}
.icon4-balloon-sharp:before{content:"\e968";}
.icon4-bandage:before{content:"\e96a";}
.icon4-bandage-sharp:before{content:"\e96c";}
.icon4-ban-sharp:before{content:"\e96e";}
.icon4-barbell:before{content:"\e96f";}
.icon4-barbell-sharp:before{content:"\e971";}
.icon4-bar-chart:before{content:"\e972";}
.icon4-bar-chart-sharp:before{content:"\e974";}
.icon4-barcode:before{content:"\e975";}
.icon4-baseball:before{content:"\e978";}
.icon4-baseball-sharp:before{content:"\e97a";}
.icon4-basket:before{content:"\e97b";}
.icon4-basketball:before{content:"\e97c";}
.icon4-basketball-sharp:before{content:"\e97e";}
.icon4-basket-sharp:before{content:"\e980";}
.icon4-battery-charging:before{content:"\e981";}
.icon4-battery-charging-outline:before{content:"\e982";}
.icon4-battery-charging-sharp:before{content:"\e983";}
.icon4-battery-full-sharp:before{content:"\e989";}
.icon4-battery-half-sharp:before{content:"\e98c";}
.icon4-beaker:before{content:"\e98d";}
.icon4-beaker-sharp:before{content:"\e98f";}
.icon4-bed:before{content:"\e990";}
.icon4-bed-sharp:before{content:"\e992";}
.icon4-beer:before{content:"\e993";}
.icon4-beer-sharp:before{content:"\e995";}
.icon4-bicycle:before{content:"\e996";}
.icon4-bicycle-sharp:before{content:"\e998";}
.icon4-bluetooth:before{content:"\e999";}
.icon4-bluetooth-sharp:before{content:"\e99b";}
.icon4-boat:before{content:"\e99c";}
.icon4-boat-sharp:before{content:"\e99e";}
.icon4-body:before{content:"\e99f";}
.icon4-body-sharp:before{content:"\e9a1";}
.icon4-bonfire:before{content:"\e9a2";}
.icon4-bonfire-sharp:before{content:"\e9a4";}
.icon4-book:before{content:"\e9a5";}
.icon4-bookmark:before{content:"\e9a6";}
.icon4-bookmarks:before{content:"\e9a8";}
.icon4-bookmark-sharp:before{content:"\e9a9";}
.icon4-bookmarks-sharp:before{content:"\e9ab";}
.icon4-book-sharp:before{content:"\e9ad";}
.icon4-bowling-ball:before{content:"\e9ae";}
.icon4-bowling-ball-sharp:before{content:"\e9b0";}
.icon4-briefcase:before{content:"\e9b1";}
.icon4-briefcase-sharp:before{content:"\e9b3";}
.icon4-browsers:before{content:"\e9b4";}
.icon4-browsers-sharp:before{content:"\e9b6";}
.icon4-brush:before{content:"\e9b7";}
.icon4-brush-sharp:before{content:"\e9b9";}
.icon4-bug:before{content:"\e9ba";}
.icon4-bug-sharp:before{content:"\e9bc";}
.icon4-build:before{content:"\e9bd";}
.icon4-build-sharp:before{content:"\e9bf";}
.icon4-bulb:before{content:"\e9c0";}
.icon4-bulb-sharp:before{content:"\e9c2";}
.icon4-bus:before{content:"\e9c3";}
.icon4-business:before{content:"\e9c4";}
.icon4-business-sharp:before{content:"\e9c6";}
.icon4-bus-sharp:before{content:"\e9c8";}
.icon4-cafe:before{content:"\e9c9";}
.icon4-cafe-sharp:before{content:"\e9cb";}
.icon4-calculator:before{content:"\e9cc";}
.icon4-calculator-sharp:before{content:"\e9ce";}
.icon4-calendar:before{content:"\e9cf";}
.icon4-calendar-clear:before{content:"\e9d0";}
.icon4-calendar-clear-sharp:before{content:"\e9d2";}
.icon4-calendar-number:before{content:"\e9d3";}
.icon4-calendar-number-sharp:before{content:"\e9d5";}
.icon4-calendar-sharp:before{content:"\e9d7";}
.icon4-call:before{content:"\e9d8";}
.icon4-call-sharp:before{content:"\e9da";}
.icon4-camera:before{content:"\e9db";}
.icon4-camera-reverse:before{content:"\e9dd";}
.icon4-camera-reverse-sharp:before{content:"\e9df";}
.icon4-camera-sharp:before{content:"\e9e0";}
.icon4-car:before{content:"\e9e1";}
.icon4-card:before{content:"\e9e2";}
.icon4-card-sharp:before{content:"\e9e4";}
.icon4-caret-back:before{content:"\e9e5";}
.icon4-caret-back-circle:before{content:"\e9e6";}
.icon4-caret-back-circle-sharp:before{content:"\e9e8";}
.icon4-caret-back-outline:before{content:"\e9e9";}
.icon4-caret-back-sharp:before{content:"\e9ea";}
.icon4-caret-down:before{content:"\e9eb";}
.icon4-caret-down-circle:before{content:"\e9ec";}
.icon4-caret-down-circle-sharp:before{content:"\e9ee";}
.icon4-caret-down-outline:before{content:"\e9ef";}
.icon4-caret-down-sharp:before{content:"\e9f0";}
.icon4-caret-forward:before{content:"\e9f1";}
.icon4-caret-forward-circle:before{content:"\e9f2";}
.icon4-caret-forward-circle-sharp:before{content:"\e9f4";}
.icon4-caret-forward-outline:before{content:"\e9f5";}
.icon4-caret-forward-sharp:before{content:"\e9f6";}
.icon4-caret-up:before{content:"\e9f7";}
.icon4-caret-up-circle:before{content:"\e9f8";}
.icon4-caret-up-circle-sharp:before{content:"\e9fa";}
.icon4-caret-up-outline:before{content:"\e9fb";}
.icon4-caret-up-sharp:before{content:"\e9fc";}
.icon4-car-sharp:before{content:"\e9fe";}
.icon4-car-sport:before{content:"\e9ff";}
.icon4-car-sport-sharp:before{content:"\ea01";}
.icon4-cart:before{content:"\ea02";}
.icon4-cart-sharp:before{content:"\ea04";}
.icon4-cash:before{content:"\ea05";}
.icon4-cash-sharp:before{content:"\ea07";}
.icon4-cellular:before{content:"\ea08";}
.icon4-cellular-sharp:before{content:"\ea0a";}
.icon4-chatbox:before{content:"\ea0b";}
.icon4-chatbox-ellipses:before{content:"\ea0c";}
.icon4-chatbox-ellipses-sharp:before{content:"\ea0e";}
.icon4-chatbox-sharp:before{content:"\ea10";}
.icon4-chatbubble:before{content:"\ea11";}
.icon4-chatbubble-ellipses:before{content:"\ea12";}
.icon4-chatbubble-ellipses-sharp:before{content:"\ea14";}
.icon4-chatbubbles:before{content:"\ea16";}
.icon4-chatbubble-sharp:before{content:"\ea17";}
.icon4-chatbubbles-sharp:before{content:"\ea19";}
.icon4-checkbox:before{content:"\ea1a";}
.icon4-checkbox-sharp:before{content:"\ea1c";}
.icon4-checkmark-circle:before{content:"\ea1e";}
.icon4-checkmark-circle-sharp:before{content:"\ea20";}
.icon4-checkmark-done-circle:before{content:"\ea22";}
.icon4-checkmark-done-circle-sharp:before{content:"\ea24";}
.icon4-chevron-back-circle:before{content:"\ea2a";}
.icon4-chevron-back-circle-sharp:before{content:"\ea2c";}
.icon4-chevron-down-circle:before{content:"\ea30";}
.icon4-chevron-down-circle-sharp:before{content:"\ea32";}
.icon4-chevron-forward-circle:before{content:"\ea36";}
.icon4-chevron-forward-circle-sharp:before{content:"\ea38";}
.icon4-chevron-up-circle:before{content:"\ea3c";}
.icon4-chevron-up-circle-sharp:before{content:"\ea3e";}
.icon4-clipboard:before{content:"\ea41";}
.icon4-clipboard-sharp:before{content:"\ea43";}
.icon4-close:before{content:"\ea44";}
.icon4-close-circle:before{content:"\ea45";}
.icon4-close-circle-sharp:before{content:"\ea47";}
.icon4-close-sharp:before{content:"\ea49";}
.icon4-cloud:before{content:"\ea4a";}
.icon4-cloud-circle:before{content:"\ea4b";}
.icon4-cloud-circle-sharp:before{content:"\ea4d";}
.icon4-cloud-done:before{content:"\ea4e";}
.icon4-cloud-done-sharp:before{content:"\ea50";}
.icon4-cloud-download:before{content:"\ea51";}
.icon4-cloud-download-sharp:before{content:"\ea53";}
.icon4-cloud-offline:before{content:"\ea54";}
.icon4-cloud-offline-sharp:before{content:"\ea56";}
.icon4-cloud-sharp:before{content:"\ea58";}
.icon4-cloud-upload:before{content:"\ea59";}
.icon4-cloud-upload-sharp:before{content:"\ea5b";}
.icon4-cloudy:before{content:"\ea5c";}
.icon4-cloudy-night:before{content:"\ea5d";}
.icon4-cloudy-night-sharp:before{content:"\ea5f";}
.icon4-cloudy-sharp:before{content:"\ea61";}
.icon4-code:before{content:"\ea62";}
.icon4-code-sharp:before{content:"\ea67";}
.icon4-code-slash:before{content:"\ea68";}
.icon4-code-slash-sharp:before{content:"\ea6a";}
.icon4-cog:before{content:"\ea6e";}
.icon4-cog-outline:before{content:"\ea6f";}
.icon4-cog-sharp:before{content:"\ea70";}
.icon4-color-fill:before{content:"\ea71";}
.icon4-color-fill-sharp:before{content:"\ea73";}
.icon4-color-filter:before{content:"\ea74";}
.icon4-color-filter-sharp:before{content:"\ea76";}
.icon4-color-palette:before{content:"\ea77";}
.icon4-color-palette-sharp:before{content:"\ea79";}
.icon4-color-wand:before{content:"\ea7a";}
.icon4-color-wand-sharp:before{content:"\ea7c";}
.icon4-compass:before{content:"\ea7d";}
.icon4-compass-sharp:before{content:"\ea7f";}
.icon4-construct:before{content:"\ea80";}
.icon4-construct-sharp:before{content:"\ea82";}
.icon4-contrast:before{content:"\ea86";}
.icon4-contrast-sharp:before{content:"\ea88";}
.icon4-copy:before{content:"\ea89";}
.icon4-copy-sharp:before{content:"\ea8b";}
.icon4-create:before{content:"\ea8c";}
.icon4-create-sharp:before{content:"\ea8e";}
.icon4-crop:before{content:"\ea8f";}
.icon4-crop-sharp:before{content:"\ea91";}
.icon4-cube:before{content:"\ea92";}
.icon4-cube-sharp:before{content:"\ea94";}
.icon4-cut:before{content:"\ea95";}
.icon4-cut-sharp:before{content:"\ea97";}
.icon4-desktop:before{content:"\ea98";}
.icon4-desktop-sharp:before{content:"\ea9a";}
.icon4-diamond:before{content:"\ea9b";}
.icon4-diamond-sharp:before{content:"\ea9d";}
.icon4-dice:before{content:"\ea9e";}
.icon4-dice-sharp:before{content:"\eaa0";}
.icon4-disc:before{content:"\eaa1";}
.icon4-disc-sharp:before{content:"\eaa3";}
.icon4-document:before{content:"\eaa4";}
.icon4-document-attach:before{content:"\eaa5";}
.icon4-document-attach-sharp:before{content:"\eaa7";}
.icon4-document-lock:before{content:"\eaa8";}
.icon4-document-lock-sharp:before{content:"\eaaa";}
.icon4-documents:before{content:"\eaac";}
.icon4-document-sharp:before{content:"\eaad";}
.icon4-documents-sharp:before{content:"\eaaf";}
.icon4-document-text:before{content:"\eab0";}
.icon4-document-text-sharp:before{content:"\eab2";}
.icon4-download:before{content:"\eab3";}
.icon4-download-sharp:before{content:"\eab5";}
.icon4-duplicate:before{content:"\eab6";}
.icon4-duplicate-sharp:before{content:"\eab8";}
.icon4-ear:before{content:"\eab9";}
.icon4-ear-sharp:before{content:"\eabb";}
.icon4-earth:before{content:"\eabc";}
.icon4-earth-sharp:before{content:"\eabe";}
.icon4-easel:before{content:"\eabf";}
.icon4-easel-sharp:before{content:"\eac1";}
.icon4-egg:before{content:"\eac2";}
.icon4-egg-sharp:before{content:"\eac4";}
.icon4-ellipse:before{content:"\eac5";}
.icon4-ellipse-sharp:before{content:"\eac7";}
.icon4-ellipsis-horizontal:before{content:"\eac8";}
.icon4-ellipsis-horizontal-circle-sharp:before{content:"\eacb";}
.icon4-ellipsis-horizontal-sharp:before{content:"\eacd";}
.icon4-ellipsis-vertical:before{content:"\eace";}
.icon4-ellipsis-vertical-circle-sharp:before{content:"\ead1";}
.icon4-ellipsis-vertical-sharp:before{content:"\ead3";}
.icon4-enter:before{content:"\ead4";}
.icon4-enter-sharp:before{content:"\ead6";}
.icon4-exit:before{content:"\ead7";}
.icon4-exit-sharp:before{content:"\ead9";}
.icon4-extension-puzzle:before{content:"\eadd";}
.icon4-extension-puzzle-sharp:before{content:"\eadf";}
.icon4-eye:before{content:"\eae0";}
.icon4-eyedrop:before{content:"\eae1";}
.icon4-eyedrop-sharp:before{content:"\eae3";}
.icon4-eye-off:before{content:"\eae4";}
.icon4-eye-off-outline:before{content:"\eae5";}
.icon4-eye-off-sharp:before{content:"\eae6";}
.icon4-eye-sharp:before{content:"\eae8";}
.icon4-fast-food:before{content:"\eae9";}
.icon4-fast-food-sharp:before{content:"\eaeb";}
.icon4-female:before{content:"\eaec";}
.icon4-female-sharp:before{content:"\eaee";}
.icon4-file-tray:before{content:"\eaef";}
.icon4-file-tray-full:before{content:"\eaf0";}
.icon4-file-tray-full-sharp:before{content:"\eaf2";}
.icon4-file-tray-sharp:before{content:"\eaf4";}
.icon4-file-tray-stacked:before{content:"\eaf5";}
.icon4-file-tray-stacked-sharp:before{content:"\eaf7";}
.icon4-film:before{content:"\eaf8";}
.icon4-film-sharp:before{content:"\eafa";}
.icon4-filter:before{content:"\eafb";}
.icon4-filter-circle:before{content:"\eafc";}
.icon4-filter-circle-sharp:before{content:"\eafe";}
.icon4-filter-sharp:before{content:"\eb00";}
.icon4-finger-print:before{content:"\eb01";}
.icon4-finger-print-outline:before{content:"\eb02";}
.icon4-finger-print-sharp:before{content:"\eb03";}
.icon4-fish:before{content:"\eb04";}
.icon4-fish-sharp:before{content:"\eb06";}
.icon4-fitness:before{content:"\eb07";}
.icon4-fitness-sharp:before{content:"\eb09";}
.icon4-flag:before{content:"\eb0a";}
.icon4-flag-sharp:before{content:"\eb0c";}
.icon4-flame:before{content:"\eb0d";}
.icon4-flame-sharp:before{content:"\eb0f";}
.icon4-flash:before{content:"\eb10";}
.icon4-flashlight:before{content:"\eb11";}
.icon4-flashlight-sharp:before{content:"\eb13";}
.icon4-flash-off:before{content:"\eb14";}
.icon4-flash-off-outline:before{content:"\eb15";}
.icon4-flash-off-sharp:before{content:"\eb16";}
.icon4-flash-sharp:before{content:"\eb18";}
.icon4-flask:before{content:"\eb19";}
.icon4-flask-sharp:before{content:"\eb1b";}
.icon4-flower:before{content:"\eb1c";}
.icon4-flower-sharp:before{content:"\eb1e";}
.icon4-folder:before{content:"\eb1f";}
.icon4-folder-open:before{content:"\eb20";}
.icon4-folder-open-sharp:before{content:"\eb22";}
.icon4-folder-sharp:before{content:"\eb24";}
.icon4-football:before{content:"\eb25";}
.icon4-football-sharp:before{content:"\eb27";}
.icon4-footsteps:before{content:"\eb28";}
.icon4-footsteps-sharp:before{content:"\eb2a";}
.icon4-funnel:before{content:"\eb2b";}
.icon4-funnel-sharp:before{content:"\eb2d";}
.icon4-game-controller:before{content:"\eb2e";}
.icon4-game-controller-sharp:before{content:"\eb30";}
.icon4-gift:before{content:"\eb31";}
.icon4-gift-sharp:before{content:"\eb33";}
.icon4-git-branch:before{content:"\eb34";}
.icon4-git-branch-sharp:before{content:"\eb36";}
.icon4-git-commit:before{content:"\eb37";}
.icon4-git-commit-sharp:before{content:"\eb39";}
.icon4-git-compare:before{content:"\eb3a";}
.icon4-git-compare-sharp:before{content:"\eb3c";}
.icon4-git-merge:before{content:"\eb3d";}
.icon4-git-merge-sharp:before{content:"\eb3f";}
.icon4-git-network:before{content:"\eb40";}
.icon4-git-network-sharp:before{content:"\eb42";}
.icon4-git-pull-request:before{content:"\eb43";}
.icon4-git-pull-request-sharp:before{content:"\eb45";}
.icon4-glasses:before{content:"\eb46";}
.icon4-glasses-sharp:before{content:"\eb48";}
.icon4-globe:before{content:"\eb49";}
.icon4-golf:before{content:"\eb4c";}
.icon4-golf-sharp:before{content:"\eb4e";}
.icon4-grid:before{content:"\eb4f";}
.icon4-grid-sharp:before{content:"\eb51";}
.icon4-hammer:before{content:"\eb52";}
.icon4-hammer-sharp:before{content:"\eb54";}
.icon4-hand-left:before{content:"\eb55";}
.icon4-hand-left-sharp:before{content:"\eb57";}
.icon4-hand-right:before{content:"\eb58";}
.icon4-hand-right-sharp:before{content:"\eb5a";}
.icon4-happy:before{content:"\eb5b";}
.icon4-happy-sharp:before{content:"\eb5d";}
.icon4-hardware-chip:before{content:"\eb5e";}
.icon4-hardware-chip-sharp:before{content:"\eb60";}
.icon4-headset:before{content:"\eb61";}
.icon4-headset-sharp:before{content:"\eb63";}
.icon4-heart:before{content:"\eb64";}
.icon4-heart-circle:before{content:"\eb65";}
.icon4-heart-circle-sharp:before{content:"\eb67";}
.icon4-heart-dislike:before{content:"\eb68";}
.icon4-heart-dislike-circle:before{content:"\eb69";}
.icon4-heart-dislike-circle-sharp:before{content:"\eb6b";}
.icon4-heart-dislike-outline:before{content:"\eb6c";}
.icon4-heart-dislike-sharp:before{content:"\eb6d";}
.icon4-heart-half:before{content:"\eb6e";}
.icon4-heart-half-outline:before{content:"\eb6f";}
.icon4-heart-half-sharp:before{content:"\eb70";}
.icon4-heart-sharp:before{content:"\eb72";}
.icon4-help-buoy:before{content:"\eb74";}
.icon4-help-buoy-sharp:before{content:"\eb76";}
.icon4-help-circle:before{content:"\eb77";}
.icon4-help-circle-sharp:before{content:"\eb79";}
.icon4-home:before{content:"\eb7c";}
.icon4-home-sharp:before{content:"\eb7e";}
.icon4-hourglass:before{content:"\eb7f";}
.icon4-hourglass-sharp:before{content:"\eb81";}
.icon4-ice-cream:before{content:"\eb82";}
.icon4-ice-cream-sharp:before{content:"\eb84";}
.icon4-id-card:before{content:"\eb85";}
.icon4-id-card-sharp:before{content:"\eb87";}
.icon4-image:before{content:"\eb88";}
.icon4-images:before{content:"\eb8a";}
.icon4-image-sharp:before{content:"\eb8b";}
.icon4-images-sharp:before{content:"\eb8d";}
.icon4-infinite-sharp:before{content:"\eb90";}
.icon4-information-circle:before{content:"\eb92";}
.icon4-information-circle-sharp:before{content:"\eb94";}
.icon4-invert-mode-sharp:before{content:"\eb99";}
.icon4-journal:before{content:"\eb9a";}
.icon4-journal-sharp:before{content:"\eb9c";}
.icon4-key:before{content:"\eb9d";}
.icon4-keypad:before{content:"\eb9f";}
.icon4-keypad-sharp:before{content:"\eba1";}
.icon4-key-sharp:before{content:"\eba2";}
.icon4-language:before{content:"\eba3";}
.icon4-language-sharp:before{content:"\eba5";}
.icon4-laptop:before{content:"\eba6";}
.icon4-laptop-sharp:before{content:"\eba8";}
.icon4-layers:before{content:"\eba9";}
.icon4-layers-sharp:before{content:"\ebab";}
.icon4-leaf:before{content:"\ebac";}
.icon4-leaf-sharp:before{content:"\ebae";}
.icon4-library:before{content:"\ebaf";}
.icon4-library-sharp:before{content:"\ebb1";}
.icon4-list-circle:before{content:"\ebb6";}
.icon4-list-circle-sharp:before{content:"\ebb8";}
.icon4-location:before{content:"\ebbe";}
.icon4-location-sharp:before{content:"\ebc0";}
.icon4-lock-closed:before{content:"\ebc1";}
.icon4-lock-closed-sharp:before{content:"\ebc3";}
.icon4-lock-open:before{content:"\ebc4";}
.icon4-lock-open-sharp:before{content:"\ebc6";}
.icon4-log-in:before{content:"\ebc7";}
.icon4-log-in-sharp:before{content:"\ebc9";}
.icon4-logo-alipay:before{content:"\ebca";}
.icon4-logo-amazon:before{content:"\ebcb";}
.icon4-logo-amplify:before{content:"\ebcc";}
.icon4-logo-android:before{content:"\ebcd";}
.icon4-logo-angular:before{content:"\ebce";}
.icon4-logo-apple:before{content:"\ebcf";}
.icon4-logo-apple-appstore:before{content:"\ebd0";}
.icon4-logo-behance:before{content:"\ebd2";}
.icon4-logo-bitbucket:before{content:"\ebd3";}
.icon4-logo-bitcoin:before{content:"\ebd4";}
.icon4-logo-buffer:before{content:"\ebd5";}
.icon4-logo-capacitor:before{content:"\ebd6";}
.icon4-logo-chrome:before{content:"\ebd7";}
.icon4-logo-closed-captioning:before{content:"\ebd8";}
.icon4-logo-codepen:before{content:"\ebd9";}
.icon4-logo-css3:before{content:"\ebda";}
.icon4-logo-designernews:before{content:"\ebdb";}
.icon4-logo-deviantart:before{content:"\ebdc";}
.icon4-logo-discord:before{content:"\ebdd";}
.icon4-logo-docker:before{content:"\ebde";}
.icon4-logo-dribbble:before{content:"\ebdf";}
.icon4-logo-dropbox:before{content:"\ebe0";}
.icon4-logo-edge:before{content:"\ebe1";}
.icon4-logo-electron:before{content:"\ebe2";}
.icon4-logo-euro:before{content:"\ebe3";}
.icon4-logo-facebook:before{content:"\ebe4";}
.icon4-logo-figma:before{content:"\ebe5";}
.icon4-logo-firebase:before{content:"\ebe6";}
.icon4-logo-firefox:before{content:"\ebe7";}
.icon4-logo-flickr:before{content:"\ebe8";}
.icon4-logo-foursquare:before{content:"\ebe9";}
.icon4-logo-github:before{content:"\ebea";}
.icon4-logo-gitlab:before{content:"\ebeb";}
.icon4-logo-google:before{content:"\ebec";}
.icon4-logo-google-playstore:before{content:"\ebed";}
.icon4-logo-hackernews:before{content:"\ebee";}
.icon4-logo-html5:before{content:"\ebef";}
.icon4-logo-instagram:before{content:"\ebf0";}
.icon4-logo-ionic:before{content:"\ebf1";}
.icon4-logo-ionitron:before{content:"\ebf2";}
.icon4-logo-javascript:before{content:"\ebf3";}
.icon4-logo-laravel:before{content:"\ebf4";}
.icon4-logo-linkedin:before{content:"\ebf5";}
.icon4-logo-markdown:before{content:"\ebf6";}
.icon4-logo-mastodon:before{content:"\ebf7";}
.icon4-logo-medium:before{content:"\ebf8";}
.icon4-logo-microsoft:before{content:"\ebf9";}
.icon4-logo-nodejs:before{content:"\ebfa";}
.icon4-logo-no-smoking:before{content:"\ebfb";}
.icon4-logo-npm:before{content:"\ebfc";}
.icon4-logo-octocat:before{content:"\ebfd";}
.icon4-logo-paypal:before{content:"\ebfe";}
.icon4-logo-pinterest:before{content:"\ebff";}
.icon4-logo-playstation:before{content:"\ec00";}
.icon4-logo-pwa:before{content:"\ec01";}
.icon4-logo-python:before{content:"\ec02";}
.icon4-logo-react:before{content:"\ec03";}
.icon4-logo-reddit:before{content:"\ec04";}
.icon4-logo-rss:before{content:"\ec05";}
.icon4-logo-sass:before{content:"\ec06";}
.icon4-logo-skype:before{content:"\ec07";}
.icon4-logo-slack:before{content:"\ec08";}
.icon4-logo-snapchat:before{content:"\ec09";}
.icon4-logo-soundcloud:before{content:"\ec0a";}
.icon4-logo-stackoverflow:before{content:"\ec0b";}
.icon4-logo-steam:before{content:"\ec0c";}
.icon4-logo-stencil:before{content:"\ec0d";}
.icon4-logo-tableau:before{content:"\ec0e";}
.icon4-logo-tiktok:before{content:"\ec0f";}
.icon4-logo-tumblr:before{content:"\ec10";}
.icon4-logo-tux:before{content:"\ec11";}
.icon4-logo-twitch:before{content:"\ec12";}
.icon4-logo-twitter:before{content:"\ec13";}
.icon4-logo-usd:before{content:"\ec14";}
.icon4-log-out:before{content:"\ec15";}
.icon4-log-out-sharp:before{content:"\ec17";}
.icon4-logo-venmo:before{content:"\ec18";}
.icon4-logo-vercel:before{content:"\ec19";}
.icon4-logo-vimeo:before{content:"\ec1a";}
.icon4-logo-vk:before{content:"\ec1b";}
.icon4-logo-vue:before{content:"\ec1c";}
.icon4-logo-web-component:before{content:"\ec1d";}
.icon4-logo-wechat:before{content:"\ec1e";}
.icon4-logo-whatsapp:before{content:"\ec1f";}
.icon4-logo-windows:before{content:"\ec20";}
.icon4-logo-wordpress:before{content:"\ec21";}
.icon4-logo-xbox:before{content:"\ec22";}
.icon4-logo-xing:before{content:"\ec23";}
.icon4-logo-yahoo:before{content:"\ec24";}
.icon4-logo-yen:before{content:"\ec25";}
.icon4-logo-youtube:before{content:"\ec26";}
.icon4-mail:before{content:"\ec2a";}
.icon4-mail-open:before{content:"\ec2b";}
.icon4-mail-open-sharp:before{content:"\ec2d";}
.icon4-mail-sharp:before{content:"\ec2f";}
.icon4-mail-unread:before{content:"\ec30";}
.icon4-mail-unread-sharp:before{content:"\ec32";}
.icon4-male:before{content:"\ec33";}
.icon4-male-female:before{content:"\ec34";}
.icon4-male-female-sharp:before{content:"\ec36";}
.icon4-male-sharp:before{content:"\ec38";}
.icon4-man:before{content:"\ec39";}
.icon4-man-sharp:before{content:"\ec3b";}
.icon4-map:before{content:"\ec3c";}
.icon4-map-sharp:before{content:"\ec3e";}
.icon4-medal:before{content:"\ec3f";}
.icon4-medal-sharp:before{content:"\ec41";}
.icon4-medical:before{content:"\ec42";}
.icon4-medical-sharp:before{content:"\ec44";}
.icon4-medkit:before{content:"\ec45";}
.icon4-medkit-sharp:before{content:"\ec47";}
.icon4-megaphone:before{content:"\ec48";}
.icon4-megaphone-sharp:before{content:"\ec4a";}
.icon4-menu-sharp:before{content:"\ec4d";}
.icon4-mic-circle:before{content:"\ec4f";}
.icon4-mic-circle-sharp:before{content:"\ec51";}
.icon4-mic-off-circle:before{content:"\ec53";}
.icon4-mic-off-circle-outline:before{content:"\ec54";}
.icon4-mic-off-circle-sharp:before{content:"\ec55";}
.icon4-moon:before{content:"\ec5a";}
.icon4-moon-sharp:before{content:"\ec5c";}
.icon4-musical-note:before{content:"\ec60";}
.icon4-musical-notes:before{content:"\ec62";}
.icon4-musical-note-sharp:before{content:"\ec63";}
.icon4-musical-notes-sharp:before{content:"\ec65";}
.icon4-navigate:before{content:"\ec66";}
.icon4-navigate-circle:before{content:"\ec67";}
.icon4-navigate-circle-sharp:before{content:"\ec69";}
.icon4-navigate-sharp:before{content:"\ec6b";}
.icon4-newspaper:before{content:"\ec6c";}
.icon4-newspaper-sharp:before{content:"\ec6e";}
.icon4-notifications:before{content:"\ec6f";}
.icon4-notifications-circle:before{content:"\ec70";}
.icon4-notifications-circle-sharp:before{content:"\ec72";}
.icon4-notifications-off:before{content:"\ec73";}
.icon4-notifications-off-circle:before{content:"\ec74";}
.icon4-notifications-off-circle-sharp:before{content:"\ec76";}
.icon4-notifications-off-sharp:before{content:"\ec78";}
.icon4-notifications-sharp:before{content:"\ec7a";}
.icon4-nuclear:before{content:"\ec7b";}
.icon4-nuclear-sharp:before{content:"\ec7d";}
.icon4-nutrition:before{content:"\ec7e";}
.icon4-nutrition-sharp:before{content:"\ec80";}
.icon4-open:before{content:"\ec81";}
.icon4-open-sharp:before{content:"\ec83";}
.icon4-options:before{content:"\ec84";}
.icon4-options-sharp:before{content:"\ec86";}
.icon4-paper-plane:before{content:"\ec87";}
.icon4-paper-plane-sharp:before{content:"\ec89";}
.icon4-partly-sunny:before{content:"\ec8a";}
.icon4-partly-sunny-sharp:before{content:"\ec8c";}
.icon4-pause:before{content:"\ec8d";}
.icon4-pause-circle:before{content:"\ec8e";}
.icon4-pause-circle-sharp:before{content:"\ec90";}
.icon4-pause-sharp:before{content:"\ec92";}
.icon4-paw:before{content:"\ec93";}
.icon4-paw-sharp:before{content:"\ec95";}
.icon4-pencil-sharp:before{content:"\ec98";}
.icon4-people:before{content:"\ec99";}
.icon4-people-circle:before{content:"\ec9a";}
.icon4-people-circle-outline:before{content:"\ec9b";}
.icon4-people-circle-sharp:before{content:"\ec9c";}
.icon4-people-sharp:before{content:"\ec9e";}
.icon4-person:before{content:"\ec9f";}
.icon4-person-add:before{content:"\eca0";}
.icon4-person-add-sharp:before{content:"\eca2";}
.icon4-person-circle:before{content:"\eca3";}
.icon4-person-circle-outline:before{content:"\eca4";}
.icon4-person-circle-sharp:before{content:"\eca5";}
.icon4-person-remove:before{content:"\eca7";}
.icon4-person-remove-sharp:before{content:"\eca9";}
.icon4-person-sharp:before{content:"\ecaa";}
.icon4-phone-landscape:before{content:"\ecab";}
.icon4-phone-landscape-sharp:before{content:"\ecad";}
.icon4-phone-portrait:before{content:"\ecae";}
.icon4-phone-portrait-sharp:before{content:"\ecb0";}
.icon4-pie-chart:before{content:"\ecb1";}
.icon4-pie-chart-sharp:before{content:"\ecb3";}
.icon4-pin:before{content:"\ecb4";}
.icon4-pin-sharp:before{content:"\ecb6";}
.icon4-pint:before{content:"\ecb7";}
.icon4-pint-sharp:before{content:"\ecb9";}
.icon4-pizza:before{content:"\ecba";}
.icon4-pizza-sharp:before{content:"\ecbc";}
.icon4-planet:before{content:"\ecbd";}
.icon4-planet-sharp:before{content:"\ecbf";}
.icon4-play:before{content:"\ecc0";}
.icon4-play-back:before{content:"\ecc1";}
.icon4-play-back-circle:before{content:"\ecc2";}
.icon4-play-back-circle-sharp:before{content:"\ecc4";}
.icon4-play-back-sharp:before{content:"\ecc6";}
.icon4-play-circle:before{content:"\ecc7";}
.icon4-play-circle-sharp:before{content:"\ecc9";}
.icon4-play-forward:before{content:"\ecca";}
.icon4-play-forward-circle:before{content:"\eccb";}
.icon4-play-forward-circle-sharp:before{content:"\eccd";}
.icon4-play-forward-sharp:before{content:"\eccf";}
.icon4-play-sharp:before{content:"\ecd1";}
.icon4-play-skip-back:before{content:"\ecd2";}
.icon4-play-skip-back-circle:before{content:"\ecd3";}
.icon4-play-skip-back-circle-sharp:before{content:"\ecd5";}
.icon4-play-skip-back-sharp:before{content:"\ecd7";}
.icon4-play-skip-forward:before{content:"\ecd8";}
.icon4-play-skip-forward-circle:before{content:"\ecd9";}
.icon4-play-skip-forward-circle-sharp:before{content:"\ecdb";}
.icon4-play-skip-forward-sharp:before{content:"\ecdd";}
.icon4-podium:before{content:"\ecde";}
.icon4-podium-sharp:before{content:"\ece0";}
.icon4-power:before{content:"\ece1";}
.icon4-power-sharp:before{content:"\ece3";}
.icon4-pricetag:before{content:"\ece4";}
.icon4-pricetags:before{content:"\ece6";}
.icon4-pricetag-sharp:before{content:"\ece7";}
.icon4-pricetags-sharp:before{content:"\ece9";}
.icon4-print:before{content:"\ecea";}
.icon4-print-sharp:before{content:"\ecec";}
.icon4-prism:before{content:"\eced";}
.icon4-prism-sharp:before{content:"\ecef";}
.icon4-pulse:before{content:"\ecf0";}
.icon4-pulse-sharp:before{content:"\ecf2";}
.icon4-push:before{content:"\ecf3";}
.icon4-push-sharp:before{content:"\ecf5";}
.icon4-qr-code:before{content:"\ecf6";}
.icon4-qr-code-sharp:before{content:"\ecf8";}
.icon4-radio:before{content:"\ecf9";}
.icon4-radio-sharp:before{content:"\ed01";}
.icon4-rainy:before{content:"\ed02";}
.icon4-rainy-sharp:before{content:"\ed04";}
.icon4-reader:before{content:"\ed05";}
.icon4-reader-sharp:before{content:"\ed07";}
.icon4-receipt:before{content:"\ed08";}
.icon4-receipt-sharp:before{content:"\ed0a";}
.icon4-recording:before{content:"\ed0b";}
.icon4-recording-sharp:before{content:"\ed0d";}
.icon4-refresh-circle:before{content:"\ed0f";}
.icon4-refresh-circle-sharp:before{content:"\ed11";}
.icon4-reload-circle:before{content:"\ed15";}
.icon4-reload-circle-sharp:before{content:"\ed17";}
.icon4-remove-circle:before{content:"\ed1b";}
.icon4-remove-circle-sharp:before{content:"\ed1d";}
.icon4-restaurant:before{content:"\ed2f";}
.icon4-restaurant-sharp:before{content:"\ed31";}
.icon4-ribbon:before{content:"\ed3e";}
.icon4-ribbon-sharp:before{content:"\ed40";}
.icon4-rocket:before{content:"\ed41";}
.icon4-rocket-sharp:before{content:"\ed43";}
.icon4-rose:before{content:"\ed44";}
.icon4-rose-sharp:before{content:"\ed46";}
.icon4-sad:before{content:"\ed47";}
.icon4-sad-sharp:before{content:"\ed49";}
.icon4-save:before{content:"\ed4a";}
.icon4-save-sharp:before{content:"\ed4c";}
.icon4-scale:before{content:"\ed4d";}
.icon4-scale-sharp:before{content:"\ed4f";}
.icon4-scan-circle:before{content:"\ed51";}
.icon4-scan-circle-sharp:before{content:"\ed53";}
.icon4-scan-sharp:before{content:"\ed55";}
.icon4-school:before{content:"\ed56";}
.icon4-school-sharp:before{content:"\ed58";}
.icon4-search:before{content:"\ed59";}
.icon4-search-circle:before{content:"\ed5a";}
.icon4-search-circle-sharp:before{content:"\ed5c";}
.icon4-search-sharp:before{content:"\ed5e";}
.icon4-send:before{content:"\ed5f";}
.icon4-send-sharp:before{content:"\ed61";}
.icon4-server:before{content:"\ed62";}
.icon4-server-sharp:before{content:"\ed64";}
.icon4-settings:before{content:"\ed65";}
.icon4-settings-sharp:before{content:"\ed67";}
.icon4-shapes:before{content:"\ed68";}
.icon4-shapes-sharp:before{content:"\ed6a";}
.icon4-share:before{content:"\ed6b";}
.icon4-share-sharp:before{content:"\ed6d";}
.icon4-share-social:before{content:"\ed6e";}
.icon4-share-social-sharp:before{content:"\ed70";}
.icon4-shield:before{content:"\ed71";}
.icon4-shield-checkmark:before{content:"\ed72";}
.icon4-shield-checkmark-sharp:before{content:"\ed74";}
.icon4-shield-half-sharp:before{content:"\ed77";}
.icon4-shield-sharp:before{content:"\ed79";}
.icon4-shirt:before{content:"\ed7a";}
.icon4-shirt-sharp:before{content:"\ed7c";}
.icon4-skull:before{content:"\ed80";}
.icon4-skull-sharp:before{content:"\ed82";}
.icon4-snow:before{content:"\ed83";}
.icon4-snow-sharp:before{content:"\ed85";}
.icon4-sparkles:before{content:"\ed86";}
.icon4-sparkles-sharp:before{content:"\ed88";}
.icon4-speedometer:before{content:"\ed89";}
.icon4-speedometer-sharp:before{content:"\ed8b";}
.icon4-square:before{content:"\ed8c";}
.icon4-square-sharp:before{content:"\ed8e";}
.icon4-star:before{content:"\ed8f";}
.icon4-star-half-sharp:before{content:"\ed92";}
.icon4-star-sharp:before{content:"\ed94";}
.icon4-stats-chart:before{content:"\ed95";}
.icon4-stats-chart-sharp:before{content:"\ed97";}
.icon4-stop:before{content:"\ed98";}
.icon4-stop-circle:before{content:"\ed99";}
.icon4-stop-circle-sharp:before{content:"\ed9b";}
.icon4-stop-sharp:before{content:"\ed9d";}
.icon4-stopwatch:before{content:"\ed9e";}
.icon4-stopwatch-sharp:before{content:"\eda0";}
.icon4-storefront:before{content:"\eda1";}
.icon4-storefront-sharp:before{content:"\eda3";}
.icon4-subway:before{content:"\eda4";}
.icon4-subway-sharp:before{content:"\eda6";}
.icon4-sunny:before{content:"\eda7";}
.icon4-sunny-sharp:before{content:"\eda9";}
.icon4-sync-circle:before{content:"\edb1";}
.icon4-sync-circle-sharp:before{content:"\edb3";}
.icon4-tablet-landscape:before{content:"\edb6";}
.icon4-tablet-landscape-sharp:before{content:"\edb8";}
.icon4-tablet-portrait:before{content:"\edb9";}
.icon4-tablet-portrait-sharp:before{content:"\edbb";}
.icon4-telescope:before{content:"\edbc";}
.icon4-telescope-sharp:before{content:"\edbe";}
.icon4-tennisball:before{content:"\edbf";}
.icon4-tennisball-sharp:before{content:"\edc1";}
.icon4-terminal:before{content:"\edc2";}
.icon4-terminal-sharp:before{content:"\edc4";}
.icon4-text:before{content:"\edc5";}
.icon4-text-sharp:before{content:"\edc7";}
.icon4-thermometer:before{content:"\edc8";}
.icon4-thermometer-sharp:before{content:"\edca";}
.icon4-thumbs-down:before{content:"\edcb";}
.icon4-thumbs-down-sharp:before{content:"\edcd";}
.icon4-thumbs-up:before{content:"\edce";}
.icon4-thumbs-up-sharp:before{content:"\edd0";}
.icon4-thunderstorm:before{content:"\edd1";}
.icon4-thunderstorm-sharp:before{content:"\edd3";}
.icon4-ticket:before{content:"\edd4";}
.icon4-ticket-sharp:before{content:"\edd6";}
.icon4-time:before{content:"\edd7";}
.icon4-timer:before{content:"\edd9";}
.icon4-timer-sharp:before{content:"\eddb";}
.icon4-time-sharp:before{content:"\eddc";}
.icon4-today:before{content:"\eddd";}
.icon4-today-sharp:before{content:"\eddf";}
.icon4-toggle:before{content:"\ede0";}
.icon4-toggle-sharp:before{content:"\ede2";}
.icon4-trail-sign:before{content:"\ede3";}
.icon4-trail-sign-sharp:before{content:"\ede5";}
.icon4-train:before{content:"\ede6";}
.icon4-train-sharp:before{content:"\ede8";}
.icon4-transgender:before{content:"\ede9";}
.icon4-transgender-sharp:before{content:"\edeb";}
.icon4-trash:before{content:"\edec";}
.icon4-trash-bin:before{content:"\eded";}
.icon4-trash-bin-sharp:before{content:"\edef";}
.icon4-trash-sharp:before{content:"\edf1";}
.icon4-triangle:before{content:"\edf8";}
.icon4-triangle-sharp:before{content:"\edfa";}
.icon4-trophy:before{content:"\edfb";}
.icon4-trophy-sharp:before{content:"\edfd";}
.icon4-tv-sharp:before{content:"\ee00";}
.icon4-umbrella:before{content:"\ee01";}
.icon4-umbrella-sharp:before{content:"\ee03";}
.icon4-videocam:before{content:"\ee07";}
.icon4-videocam-off-sharp:before{content:"\ee0a";}
.icon4-videocam-sharp:before{content:"\ee0c";}
.icon4-volume-high:before{content:"\ee0d";}
.icon4-volume-low:before{content:"\ee10";}
.icon4-volume-low-sharp:before{content:"\ee12";}
.icon4-volume-medium:before{content:"\ee13";}
.icon4-volume-off:before{content:"\ee19";}
.icon4-volume-off-sharp:before{content:"\ee1b";}
.icon4-wallet:before{content:"\ee1f";}
.icon4-wallet-sharp:before{content:"\ee21";}
.icon4-warning:before{content:"\ee22";}
.icon4-warning-sharp:before{content:"\ee24";}
.icon4-watch:before{content:"\ee25";}
.icon4-watch-sharp:before{content:"\ee27";}
.icon4-water:before{content:"\ee28";}
.icon4-water-sharp:before{content:"\ee2a";}
.icon4-wifi:before{content:"\ee2b";}
.icon4-wine:before{content:"\ee2e";}
.icon4-wine-sharp:before{content:"\ee30";}
.icon4-woman:before{content:"\ee31";}
.icon4-woman-sharp:before{content:"\ee33";}