@charset "UTF-8";@font-face{font-family:"pixelvicon";src:url("https://thekoushikdurgas.github.io/TKDstroage/fonts/pixelvicon.eot");src:url("https://thekoushikdurgas.github.io/TKDstroage/fonts/pixelvicon.eot?#iefix") format("embedded-opentype"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/pixelvicon.woff") format("woff"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/pixelvicon.ttf") format("truetype"),url("https://thekoushikdurgas.github.io/TKDstroage/fonts/pixelvicon.svg#pixelvicon") format("svg");font-weight:normal;font-style:normal}
[class^="piicon-"]:before,[class*=" piicon-"]:before{font-family:"pixelvicon"!important;font-style:normal!important;font-weight:normal!important;font-variant:normal!important;text-transform:none!important;speak:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.piicon-browser-1:before{content:"a"}
.piicon-browser-2:before{content:"b"}
.piicon-browser-3:before{content:"c"}
.piicon-browser-4:before{content:"d"}
.piicon-browser-5:before{content:"e"}
.piicon-browser-6:before{content:"f"}
.piicon-imac:before{content:"g"}
.piicon-laptop:before{content:"h"}
.piicon-monitor:before{content:"i"}
.piicon-pc-case:before{content:"j"}
.piicon-tablet-1:before{content:"k"}
.piicon-tablet-2:before{content:"l"}
.piicon-tablet-3:before{content:"m"}
.piicon-tablet-4:before{content:"n"}
.piicon-smart-phone-1:before{content:"o"}
.piicon-smart-phone-2:before{content:"p"}
.piicon-smart-phone-3:before{content:"q"}
.piicon-smart-phone-4:before{content:"r"}
.piicon-printer:before{content:"s"}
.piicon-calculator:before{content:"t"}
.piicon-keyboard:before{content:"u"}
.piicon-mouse:before{content:"v"}
.piicon-video-game-controller:before{content:"w"}
.piicon-floppy-disk:before{content:"x"}
.piicon-coffee:before{content:"y"}
.piicon-mug:before{content:"z"}
.piicon-briefcase-1:before{content:"A"}
.piicon-briefcase-2:before{content:"B"}
.piicon-briefcase-3:before{content:"C"}
.piicon-first-aid:before{content:"D"}
.piicon-shopping-bag:before{content:"E"}
.piicon-gift:before{content:"F"}
.piicon-notepad-1:before{content:"G"}
.piicon-notepad-2:before{content:"H"}
.piicon-list-1:before{content:"I"}
.piicon-list-2:before{content:"J"}
.piicon-list-3:before{content:"K"}
.piicon-book:before{content:"L"}
.piicon-calendar-1:before{content:"M"}
.piicon-calendar-2:before{content:"N"}
.piicon-notebook:before{content:"O"}
.piicon-ruler:before{content:"P"}
.piicon-pen-1:before{content:"Q"}
.piicon-pen-2:before{content:"R"}
.piicon-document-1:before{content:"S"}
.piicon-document-2:before{content:"T"}
.piicon-document-3:before{content:"U"}
.piicon-film:before{content:"V"}
.piicon-photo-gallery:before{content:"W"}
.piicon-clock:before{content:"X"}
.piicon-cupboard:before{content:"Y"}
.piicon-drawer:before{content:"Z"}
.piicon-dresser:before{content:"0"}
.piicon-chair:before{content:"1"}
.piicon-sofa:before{content:"2"}
.piicon-desk:before{content:"3"}
.piicon-table:before{content:"4"}
.piicon-door:before{content:"5"}
.piicon-window:before{content:"6"}
.piicon-brick-wall:before{content:"7"}
.piicon-trash-1:before{content:"8"}
.piicon-trash-2:before{content:"9"}
.piicon-lock:before{content:"!"}
.piicon-unlock:before{content:'"'}
.piicon-plus:before{content:"#"}
.piicon-minus:before{content:"$"}
.piicon-battery-1:before{content:"%"}
.piicon-battery-2:before{content:"&"}
.piicon-battery-3:before{content:"'"}
.piicon-battery-4:before{content:"("}
.piicon-transform:before{content:")"}
.piicon-resize:before{content:"*"}
.piicon-grid:before{content:"+"}
.piicon-menu:before{content:","}
.piicon-fullscreen:before{content:"-"}
.piicon-outline:before{content:"."}
.piicon-align-left:before{content:"/"}
.piicon-align-center:before{content:":"}
.piicon-align-right:before{content:";"}
.piicon-align-justify:before{content:"<"}